@import "variables";
@import "base";
@import "mediaqueries";
@import "fonts";
@import "reset";
@import "keyframes";
@import "layouts";
@import "mixins";
@import "silents_class";

@import "components/menu";

.documentationpage {
    @include scroll;
    @include font(100%);
    @include no-margins;
    @include no-border;
    @include bc($c1, $c3);

    article {
        border-bottom: $bd1;
        padding-bottom: 40px;
        margin-bottom: 30px;
    }

    .main_header {
        @include wh(100vw);
        padding: 35px min(2.08vw, 40px);

        .logo_sisass {
            @include ht;
            @include position;
            @include wh(
                nth($l1x, 1),
                nth($l1y, 1)
            );
        }
    }

    .main_content {
        padding: 0 min(2.08vw, 40px);
    }

    .group_title {
        margin-bottom: 30px;
    }

    .title {
        @include font(szrem(36), $f1, 900);
        @include text;
        margin-bottom: 30px;
        color: $c4;
    }

    .subtitle {
        @include font(szrem(28), $f1, 900);
        @include text;
        margin-bottom: 5px;
        color: $c5;
    }

    .attribute {
        @include font(szrem(20), $f2, bold);
        @include text;
        margin-bottom: 3px;
        color: $c6;
    }

    .description {
        @include font(szrem(16), $f3);
        @include text(justify);
        margin-bottom: 15px;
        color: $c3;

        b {
            @include font(szrem(16), $f3, bold);
            @include text(justify);
            color: $c3;
        }
    }
}
