@use "../core/instances" as *;

.example_brp {
    @include bc(#d7eef7, #16313a);
    padding: 20px;
    border: 2px solid #16313a;

    @include brp(760) {
        background-color: #f8d9dc;
    }

    @include brp((point: 760, type: max)) {
        color: #4d171d;
    }

    @include brp(64rem, min) {
        @include bc(#ddf2da, #173f21);
    }
}
