@use "sass:list";
@use "../core/instances" as *;

$colors: (#cfebf3, #e5f0d3, #f6d8df);
$sizes: (300px, 220px, 150px);

$breakpoint_1: (point: 1200, type: max);
$breakpoint_2: (point: 768, type: max);
$breakpoint_3: (point: 48, type: max, unit: rem);

.example_mbr {
    background-color: #cfebf3;
    width: 300px;
    min-height: 120px;
    padding: 20px;
    border: 2px solid #123743;

    @include mbr($breakpoint_1, $breakpoint_2, $breakpoint_3) using ($index) {
        width: list.nth($sizes, $index);
        background-color: list.nth($colors, $index);
    }
}
