@use "sass:list";
@use "../core/instances" as *;

$colors: (#cfebf3, #e5f0d3, #f6d8df);
$sizes: (300px, 220px, 150px);

$breakpoint_1: 1920;
$breakpoint_2: 980;
$breakpoint_3: 640;

.example_mbr {
    background-color: #cfebf3;
    width: 300px;
    min-height: 120px;
    padding: 20px;
    border: 2px solid #123743;

    @include mbr($breakpoint_1, $breakpoint_2, $breakpoint_3) using ($i) {
        width: list.nth($sizes, $i);
        background-color: list.nth($colors, $i);
    }
}
