@use "../core/instances" as *;

.documentationpage {
    .input_autofill {
        @include autofill((
            bg: $c4,
            c: $c5,
            p: 15px,
            b: $bd1
        ));
    }
}
