@use "../core/instances" as *;

.documentationpage {
            .input_autofill {
                @include autofill((
                    bg: $c4,
                    color: $c5,
                    padding: 15px,
                    border: $bd1
                ));
            }
}
