@use "../sisass" as s;
@use "../core/variables" as v;

.cube_transform_style {
    @include s.transform-style(preserve-3d);
    @include s.transform(rotate3d(1, 1, 1, 30deg));
    @include s.whs(100px);

    .face {
        @include s.backface-visibility(inherit);
        @include s.center-flex-column;
        @include s.position(absolute);
        @include s.whs(100%);
        font-size: 60px;
        color: v.$c1;
    }

    .front {
        @include s.transform(
            translateZ(50px)
        );
        background: rgba(90, 90, 90, 0.7);
    }

    .back {
        @include s.transform(
            translateZ(-50px)
            rotateY(180deg)
        );
        background: rgba(0, 210, 0, 0.7);
    }

    .right {
        @include s.transform(
            translateZ(50px)
            rotateY(90deg)
        );
        background: rgba(210, 0, 0, 0.7);
    }

    .left {
        background: rgba(0, 0, 210, 0.7);
        transform: rotateY(-90deg) translateZ(50px);
    }

    .top {
        background: rgba(210, 210, 0, 0.7);
        transform: rotateX(90deg) translateZ(50px);
    }

    .bottom {
        background: rgba(210, 0, 210, 0.7);
        transform: rotateX(-90deg) translateZ(50px);
    }
}
