@use "../core/instances" as *;

@include font-face((
    name: "Fira Sans",
    path: "../fonts/fira_sans/firasans_regular"
));

@include font-face((
    n: "Fira Sans",
    p: "../fonts/fira_sans/firasans_bold",
    w: bold
));

.documentationpage {
    .font_face_example_normal {
        @include font(szrem(18), "Fira Sans", normal);
    }

    .font_face_example_bold {
        @include font(szrem(18), "Fira Sans", bold);
    }
}
