@use "../core/instances" as *;

.documentationpage {
    .icon-svg-example {
        @include wh(334px, 126px);
        @include position;
        display: block;

        &::before {
            @include icon-svg("sisass", 334px, 126px, $c5);
            content: "";
        }
    }

    .icon-svg-example-map {
        @include wh(220px, 83px);
        @include position;
        display: block;

        &::before {
            @include icon-svg((
                svg: "sisass",
                width: 220px,
                height: 83px,
                fill: $c3,
                position: (
                    type: absolute,
                    x: 0,
                    y: 0
                ),
                background: (
                    repeat: no-repeat,
                    position: center center,
                    size: contain
                )
            ));
            content: "";
        }
    }
}
