@use "../core/instances" as *;

.documentationpage {
    .icon-svg-example {
        @include normalize-svg((
            w: 334px,
            h: 126px
        ));

        &::before {
            @include icon-svg("sisass", 334px, 126px, $c5);
            content: "";
        }
    }

    .icon-svg-example-map {
        @include normalize-svg((
            w: 220px,
            h: 83px
        ));

        &::before {
            @include icon-svg((
                svg: "sisass",
                w: 220px,
                h: 83px,
                fill: $c3,
                position: (
                    p: absolute,
                    x: 0,
                    y: 0
                ),
                background: (
                    repeat: no-repeat,
                    position: center center,
                    size: contain
                )
            ));
            content: "";
        }
    }
}
