@use "../core/instances" as *;

.documentationpage {
    .icon-svg-mask-example {
        @include icon-svg-mask((
            svg: "sisass",
            color: $c5,
            position: relative,
            width: 220px,
            height: 83px,
            size: contain,
            repeat: no-repeat,
            path: "../../img/svg/"
        ));
    }
}
