@use "../core/instances" as *;

.documentationpage {
    .img_remplace_example {
        @include img-replace("../img/test/1.webp", 64px, 64px);
    }

    .img_remplace_parameters {
        border: 2px dashed $c4;

        @include img-replace((
            image: "../img/test/2.webp",
            w: 250px,
            h: 150px,
            size: contain,
            display: inline-block
        ));
    }
}
