@use "sass:list";
@use "sass:color";

@use "./core/reset";
@use "./core/instances" as *;
@use "./core/fonts";
@use "./core/keyframes";
@use "./core/layouts";

@use "components/menu";
@use "components/page_search";

.hide { display: none !important; }
html.page { scroll-behavior: smooth; }

.documentationpage {
    @include scroll((
        color: $c4,
        bg: $c2,
        width: 16px,
        thumb_border: 3px solid $c2,
        radius: 7px
    ));
    @include font(100%, $f1);
    @include no-spacing;
    @include no-border;
    @include bc($c1, $c3);
    min-height: 100vh;
    height: 100vh;

    article {
        border-bottom: $bd1;
        padding-bottom: 40px;
        margin-bottom: 30px;
    }

    .main_header {
        @include wh(100vw);
        padding: 35px min(2.08vw, 40px);
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(320px, 520px);
        align-items: start;
        gap: 20px;

        .logo_sisass {
            @include ht;
            @include position;
            @include wh(
                list.nth($l1x, 1),
                list.nth($l1y, 1)
            );
            display: block;
        }

    }

    .search_target {
        box-sizing: border-box;
        transition: outline-color 0.2s ease-in-out;
        outline: 3px solid color.adjust($c5, $lightness: 24%);
        outline-offset: 10px;
    }

    .main_content {
        padding: 0 min(10vw, 192px);
    }

    .container_menu {
        @include position(sticky, 26px);
        @include wh(100%, max-content);
    }

    .group_title {
        margin-bottom: 30px;
    }

    .title {
        @include font(szrem(42), $f3, 900);
        @include text;
        margin-bottom: 30px;
        color: $c6;
    }

    .subtitle {
        @include font(szrem(28), $f3, 900);
        @include text;
        margin-bottom: 5px;
        color: $c5;
    }

    .category {
        @include tf((
            size: szrem(38),
            family: $f2,
            weight: bold,
            transform: uppercase
        ));
        margin: 35px 0 20px;
        padding-left: 12px;
        border-left: $bd3;
        color: $c6;
        letter-spacing: 0.02em;
    }

    .attribute {
        @include font(szrem(20), $f2, bold);
        @include text;
        margin-bottom: 3px;
        color: $c6;
    }

    .deprecated { color: $c5; }

    .description,
    p {
        @include text_1;
        margin-bottom: 15px;
    }

    .mb {
        margin-bottom: 25px;
    }

    .note {
        @include text_1;
        padding: min(5vw, 15px);
        border: $bd2;
        border-left: $bd3;
        margin-bottom: 15px;
    }

    .use {
        .title {
            @include font(szrem(28), $f2, bold);
            @include text;
            color: $c6;
            margin: {
                top: 45px;
                bottom: 10px;
            }
        }

        .subtitle {
            @include font(szrem(20), $f2, bold);
            @include text;
            color: color.adjust($c6, $lightness: 20%);
            margin: {
                top: 30px;
                bottom: 10px;
            }
        }
    }

    .result {
        box-sizing: border-box;
        background-color: color.adjust($c3, $lightness: 65%);
        border: $bd1;
        padding: 10px;
        display: block;
        margin: 10px 0;

        .box {
            @include whs(100px);
            background-color: $c5;
        }

        .box_no_bgc {
            @include whs(100px);
        }
    }

    .container_example {
        @include bc($c7, $c3);
        box-sizing: border-box;
        padding: 1px min(0.78vw, 15px) 15px;
    }

    code {
        @include font(szrem(16), $f1);
        padding: 10px 15px;
        display: block;
        white-space: pre-wrap !important;
        word-break: break-word !important;
    }

    pre {
        @include border-radius(5%);
        margin-bottom: 40px;

        &:before { display: none; }
        &:after { display: none; }
    }

    table {
        margin-block-end: 40px;

        &.full { width: 100%; }

        thead {
            th {
                @include border-radius(5%);
                @include bc($c6, $c1);
                padding: 10px 15px;
                border-right: $bd4;

                &:first-child { border-radius: 6px 0 0 0; }
                &:last-child {
                    border-radius: 0 6px 0 0;
                    border-right: none;
                }
            }
        }

        tbody {
            td {
                padding: 10px 15px;
                border: $bd5;

                b { font-weight: bold; }

                ul {
                    margin-inline-start: 40px;
                    li { list-style-type: disc; }
                }
            }
        }
    }

    @media (max-width: 860px) {
        .main_header {
            grid-template-columns: 1fr;
        }
    }
}
