@use "./core/_reset";
@use "./core/_instances" as *;
@use "./core/_fonts";
@use "./core/_keyframes";
@use "./core/_layouts";
@use "components/_theme";

@use "components/_page_loader";
@use "components/_buttons";
@use "components/_menu";
@use "components/_header";
@use "components/_theme_toggle";
@use "components/_page_search";
@use "components/_breadcrumb";
@use "components/_documentationpage";

.hide { display: none !important; }
.theme_only_light { display: block !important; }
.theme_only_dark { display: none !important; }

html.page[data-theme="dark"] {
    .theme_only_light { display: none !important; }
    .theme_only_dark { display: block !important; }
}

.no_scroll { overflow: hidden !important; }
.no_visibility { visibility: hidden !important; }
html.page { scroll-behavior: smooth; }
