.documentationpage .button_simple_example_group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.documentationpage .button_simple_example {
  all: initial;
  text-align: center;
  text-decoration: initial;
  text-transform: uppercase;
  text-wrap: initial;
  font-size: 1.125rem;
  font-family: "sans-serif";
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  -webkit-transition: all 220ms;
  -moz-transition: all 220ms;
  -o-transition: all 220ms;
  transition: all 220ms;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  place-content: center;
  place-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 150px;
  height: 48px;
  border: 1px solid #202735;
  background-color: #FFFFFF;
  cursor: pointer;
  color: #202735;
}
.documentationpage .button_simple_example:hover, .documentationpage .button_simple_example.active {
  -webkit-transition: all 220ms;
  -moz-transition: all 220ms;
  -o-transition: all 220ms;
  transition: all 220ms;
  border: 1px solid #202735;
  background-color: #202735;
  color: #FFFFFF;
}