.documentationpage .center_flex_row_demo {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 200px;
  grid-gap: 5px;
  gap: 5px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}