.documentationpage .gradient_text_example {
  background-image: -webkit-linear-gradient(linear-gradient(90deg, #A01303, #2D396C));
  background-image: -moz-linear-gradient(linear-gradient(90deg, #A01303, #2D396C));
  background-image: -o-linear-gradient(linear-gradient(90deg, #A01303, #2D396C));
  background-image: linear-gradient(linear-gradient(90deg, #A01303, #2D396C));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: inline-block;
  font-size: 1.75rem;
  font-family: "Fira Sans", "sans-serif";
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
}