.documentationpage .ht_example {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -119988px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 120px;
  height: 40px;
  background-color: #A01303;
}