.documentationpage .img_remplace_example {
  background-image: url("../img/favicons/favicon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  width: 64px;
  height: 64px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -119988px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}