.documentationpage .reset_example {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.documentationpage .reset_panel {
  background-color: #FFF;
  color: #3A405A;
  border: 1px solid #3A405A;
  padding: 15px;
  display: grid;
  gap: 12px;
  align-items: start;
}
.documentationpage .reset_label {
  font-size: 1.125rem;
  font-family: "Fira Sans", "sans-serif";
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
  color: #A01303;
  margin: 0;
}
.documentationpage .reset_demo {
  display: grid;
  gap: 14px;
}
.documentationpage .reset_before .reset_demo * {
  all: revert;
}