.logo_sisass:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: clamp(130px, 10.44vw, 200px);
  height: clamp(29px, 2.3vw, 44px);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='249.696' height='55.978' viewBox='0 0 66.066 14.811' fill='%232D396C'%3E%3Cpath d='M14.81 7.38C14.81 3.3 11.49 0 7.4 0S0 3.3 0 7.38s3.32 7.38 7.41 7.38 7.41-3.3 7.4-7.38m-1.15 0c0 3.44-2.8 6.23-6.26 6.23a6.25 6.25 0 0 1-5.94-4.28h4.36c.1.8.78 1.41 1.59 1.41h.02c2.14-.02 2.11-3.23-.03-3.21-.81.01-1.48.61-1.58 1.41H1.35c-.14-.52-.2-1.05-.2-1.58 0-3.44 2.8-6.23 6.26-6.23 2.7 0 5.09 1.73 5.94 4.28H8.97C8.87 4.6 8.19 4 7.38 3.99h-.02c-2.14.02-2.11 3.23.03 3.21.81-.01 1.48-.61 1.58-1.41h4.48c.14.52.22 1.05.22 1.58zm9.3-4.59c-.91 0-1.67.13-2.28.4-.6.27-1.06.63-1.37 1.08-.3.44-.46.96-.45 1.49 0 .47.09.86.26 1.18.18.31.41.56.69.76.29.19.61.35.96.47s.7.21 1.05.29c.34.07.66.14.94.2.29.06.53.13.71.23.18.09.27.22.27.38 0 .1-.04.19-.11.27-.07.07-.2.12-.36.16-.16.03-.38.05-.67.05-.51 0-1.02-.07-1.51-.21s-.96-.34-1.4-.59l-.96 2.17c.45.27 1.01.49 1.7.66.7.17 1.42.25 2.14.25.92 0 1.68-.13 2.28-.4.61-.28 1.06-.64 1.36-1.08.31-.45.47-.95.47-1.49 0-.46-.09-.85-.27-1.16-.17-.3-.41-.56-.7-.76s-.61-.35-.95-.47-.69-.21-1.05-.28l-.96-.19c-.24-.04-.47-.12-.69-.21q-.27-.135-.27-.36c0-.1.03-.19.1-.28.08-.08.2-.15.37-.2.22-.06.45-.08.68-.07.39 0 .78.06 1.19.16.41.11.84.27 1.27.49l.9-2.15c-.49-.27-1.02-.47-1.56-.58a8 8 0 0 0-1.76-.19Zm12.69 0c-.91 0-1.67.13-2.28.4-.6.27-1.06.63-1.37 1.08-.3.44-.46.96-.45 1.49 0 .47.09.86.26 1.18.18.31.41.56.69.76.29.19.61.35.96.47s.7.21 1.05.29c.34.07.66.14.94.2.29.06.53.13.71.23.18.09.27.22.27.38 0 .1-.04.19-.11.27-.07.07-.2.12-.36.16-.16.03-.38.05-.67.05-.51 0-1.02-.07-1.51-.21s-.96-.34-1.4-.59l-.96 2.17c.45.27 1.01.49 1.7.66.7.17 1.42.25 2.14.25.92 0 1.68-.13 2.28-.4.61-.28 1.06-.64 1.36-1.08.31-.45.47-.95.47-1.49 0-.46-.09-.85-.27-1.16-.17-.3-.41-.56-.7-.76s-.61-.35-.95-.47-.69-.21-1.05-.28l-.96-.19c-.24-.04-.47-.12-.69-.21q-.27-.135-.27-.36c0-.1.03-.19.1-.28.08-.08.2-.15.37-.2.22-.06.45-.08.68-.07.39 0 .78.06 1.19.16.41.11.84.27 1.27.49l.9-2.15c-.49-.27-1.02-.47-1.56-.58a8 8 0 0 0-1.76-.19Zm18.44 0c-.91 0-1.67.13-2.28.4-.6.27-1.06.63-1.37 1.08-.3.44-.46.96-.45 1.49 0 .47.09.86.27 1.18.18.31.41.56.69.76.29.19.61.35.96.47.34.12.69.21 1.05.29.34.07.66.14.94.2.29.06.53.13.7.23.18.09.27.22.27.38 0 .1-.04.19-.11.27-.08.07-.2.12-.37.16-.16.03-.38.05-.67.05-.49 0-.99-.07-1.51-.21-.49-.14-.96-.34-1.4-.59l-.96 2.17c.45.27 1.01.49 1.7.66.7.17 1.42.25 2.14.25.92 0 1.68-.13 2.28-.4.61-.28 1.06-.64 1.36-1.08.31-.45.47-.95.47-1.49 0-.46-.09-.85-.26-1.16-.17-.3-.41-.56-.71-.76-.29-.2-.61-.35-.94-.47-.34-.12-.69-.21-1.05-.28l-.96-.19c-.24-.04-.47-.12-.69-.21q-.27-.135-.27-.36c0-.1.03-.19.1-.28.08-.08.2-.15.37-.2.22-.06.45-.08.68-.07.39 0 .78.06 1.19.16.41.11.84.27 1.27.49l.89-2.15c-.49-.27-1.02-.47-1.56-.58a8 8 0 0 0-1.76-.19Zm8.28 0c-.91 0-1.67.13-2.28.4-.6.27-1.06.63-1.37 1.08-.3.44-.46.96-.45 1.49 0 .47.09.86.26 1.18.18.31.41.56.69.76.29.19.61.35.96.47s.7.21 1.05.29c.34.07.66.14.94.2.29.06.53.13.71.23.18.09.27.22.27.38 0 .1-.04.19-.11.27-.07.07-.2.12-.36.16-.16.03-.38.05-.67.05-.51 0-1.02-.07-1.51-.21s-.96-.34-1.4-.59l-.96 2.17c.45.27 1.01.49 1.7.66.7.17 1.42.25 2.14.25.92 0 1.68-.13 2.28-.4.61-.28 1.06-.64 1.36-1.08.31-.45.47-.95.47-1.49 0-.46-.09-.85-.27-1.16-.17-.3-.41-.56-.7-.76s-.61-.35-.95-.47-.69-.21-1.05-.28l-.96-.19c-.24-.04-.47-.12-.69-.21q-.27-.135-.27-.36c0-.1.03-.19.1-.28.08-.08.2-.15.37-.2.22-.06.45-.08.68-.07.39 0 .78.06 1.19.16.41.11.84.27 1.27.49l.9-2.15c-.49-.27-1.02-.47-1.56-.58a8 8 0 0 0-1.76-.19Zm-34.82.2v8.82h2.98V3Zm15.59 0-3.86 8.82h3.02l.59-1.54h3.36l.59 1.54h3.08l-3.86-8.82Zm1.44 2.92.85 2.22h-1.71z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  content: "";
}

.logo_github:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='%232D396C'%3E%3Cpath d='M250 30.57c-124.31 0-225 100.74-225 225C25 355 89.46 439.32 178.84 469.04c11.25 2.12 15.38-4.84 15.38-10.82 0-5.34-.19-19.5-.28-38.25-62.59 13.57-75.79-30.19-75.79-30.19-10.24-25.97-25.03-32.91-25.03-32.91-20.38-13.95 1.57-13.67 1.57-13.67 22.59 1.57 34.46 23.18 34.46 23.18 20.06 34.41 52.67 24.47 65.53 18.71 2.02-14.55 7.82-24.47 14.25-30.09-49.97-5.62-102.49-24.98-102.49-111.19 0-24.56 8.72-44.62 23.16-60.38-2.53-5.68-10.12-28.56 1.97-59.55 0 0 18.84-6.04 61.88 23.06 18-5.01 37.12-7.48 56.25-7.59 19.12.11 38.25 2.59 56.25 7.59 42.75-29.1 61.59-23.06 61.59-23.06 12.09 30.99 4.5 53.87 2.25 59.55 14.34 15.75 23.06 35.81 23.06 60.38 0 86.44-52.59 105.47-102.66 111 7.88 6.75 15.19 20.55 15.19 41.62 0 30.11-.28 54.3-.28 61.61 0 5.91 3.94 12.94 15.47 10.69C410.59 439.23 475 354.85 475 255.57c0-124.26-100.74-225-225-225'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  content: "";
}

.icon_arrow::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' viewBox='0 0 132.292 132.292' fill='%232D396C'%3E%3Cpath d='m87.77 66.15-31.52 59.53-11.73-6.22 28.23-53.31-28.23-53.32 11.73-6.22z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  display: block;
  content: "";
}

.icon_arrow_2::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 15px;
  height: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' fill='%23FFF'%3E%3Cpath d='M14.637.637a1 1 0 0 0-.707 1.707L18.586 7H1a1 1 0 0 0 0 2h17.586l-4.656 4.656a1 1 0 1 0 1.414 1.414l6.363-6.363a1 1 0 0 0 0-1.414L15.344.93a1 1 0 0 0-.707-.293'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  display: block;
  content: "";
}

.icon_arrow_3::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 15px;
  height: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' fill='%23000'%3E%3Cpath d='M14.637.637a1 1 0 0 0-.707 1.707L18.586 7H1a1 1 0 0 0 0 2h17.586l-4.656 4.656a1 1 0 1 0 1.414 1.414l6.363-6.363a1 1 0 0 0 0-1.414L15.344.93a1 1 0 0 0-.707-.293'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  display: block;
  content: "";
}

.icon_organized::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='m51.83 368.86-2.45-240.22L254.02 25l196.6 93.73-.19 250.32L254.6 475Zm179.41-128.03-136.9-68.45V349.2l136.54 68.38zm182.52-68.45-136.89 68.45v176.83l136.89-68.46Zm-29.94-37.07L254.05 69.72l-129.76 65.59 129.4 65.51Z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: #2A47CE;
  content: "";
}

.icon_reusable::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M475 250 368.93 356.07l-26.51-26.51L421.98 250l-79.56-79.56 26.51-26.51zm-396.96 0 79.54 79.56-26.51 26.51L25 250l106.07-106.07 26.51 26.51zm130.5 168.75h-39.92l122.85-337.5h39.9z' style='fill:%23000'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: #12CFC8;
  content: "";
}

.icon_consistent::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' viewBox='0 0 132.292 132.292' fill='currentColor'%3E%3Cpath d='M66.15 6.61c32.87 0 59.53 23.68 59.53 52.92 0 18.26-14.82 33.07-33.07 33.07H80.9c-5.49 0-9.92 4.43-9.92 9.92 0 2.51.99 4.83 2.51 6.55 1.59 1.79 2.58 4.1 2.58 6.68 0 5.49-4.56 9.92-9.92 9.92-32.87 0-59.53-26.66-59.53-59.53S33.28 6.61 66.15 6.61M39.36 66.15c4.93 0 8.93-4 8.93-8.93s-4-8.93-8.93-8.93-8.93 4-8.93 8.93 4 8.93 8.93 8.93m53.58 0c4.93 0 8.93-4 8.93-8.93s-4-8.93-8.93-8.93-8.93 4-8.93 8.93 4 8.93 8.93 8.93M66.15 48.29c4.93 0 8.93-4 8.93-8.93s-4-8.93-8.93-8.93-8.93 4-8.93 8.93 4 8.93 8.93 8.93'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: #F35A45;
  content: "";
}

.icon_productive::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' viewBox='0 0 132.292 132.292' fill='currentColor'%3E%3Cpath d='M11.78 103.77c2.24-2.69 8.89-7.38 13.62-7.01-1.63 3.95-4.08 10.66-4.27 14.87 5.44-.18 11.14-.57 15.83-3.65 2.06 4.74-3.26 11.57-7.97 13.84-6.71 3.26-14.37 3.72-21.72 3.69-1.57-3.36-.42-14.82 4.51-21.73zm42.3 16.99c1.92-7.23 2.88-14.91 1.34-22.3-2.56.36-5.06.99-6.52-1.67-5.02-5.02-10.04-10.04-15.05-15.06 4.23-10.1-18.89-2.29-22.05-4.02 2.62-13.93 10.88-27.05 23.58-33.79 5.64-3.22 11.88-5.17 18.16-6.68C70.12 17.88 94.76 6.19 120.48 7.46c7.78-1.97 4.35.53 4.92 5.08-1.02 23.27-12.31 51.63-29.87 66.68-2.99 14-10.29 27.89-23.09 35.18-5.64 3.26-11.91 5.68-18.35 6.61l-.02-.26zm38.47-63.87c7.19-1.53 13.19-13.59 7.32-20.89-4.84-7.39-16.65-7.49-21.74-.33C70.43 53.1 85 58.52 92.54 56.9z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: #FE00BE;
  content: "";
}

.icon_mixins::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M349.94 276.35 222.43 154.49 347.25 25 474.2 146.01Zm-72.94-120 69.76 66.5 70.08-73.51-69.76-66.5zm-63.45 137.88h134.76l-.48 90.39-.48 90.39H28.38l-1.29-162.17-1.29-162.16h187.75v71.77zM68.39 430.61h103.2v-94.38H68.39v47.19zm145.17 0h92.78v-94.39h-92.78v47.19zM68.39 294.22h103.2V192.65H68.39v50.78z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: var(--theme_text_bold);
  display: block;
  content: "";
}

.icon_functions::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M42.75 455.08c-24.54-8.44-23.87-48.85 3.47-52.74 22.34-4.59 48.06 8.11 68.2-4.52 11.31-19.93 13.6-43.77 20.69-65.45 10.3-39.83 21.38-79.49 30.24-119.66-15.46-3.16-40.66 2.44-46.45-12.9s0-29.72 16.92-30.8c13.55-.28 27.1-.55 40.65-.83 10.23-39.14 26.12-79.84 60.63-103.83 23.91-17.02 55.96-28.89 84.86-18.67 24.06 8.43 20.81 49.02-4.97 51.86-19.54 5.94-43.83-13.77-59.09 3.19-13.46 20.29-17.45 44.89-23.72 67.98 40.86.09 81.7-1.25 122.55-1.94 14.3 3.26 13.35 37.76 26.63 25.1 19.19-18.93 43.68-43.69 73.29-35.07 21.72 5.24 23.56 40 2.33 47.19-19 6.5-39.26 7.26-54.78 24.12-15.51 16.86-15.38 35.43-9.89 54.75 5.41 21.3 8.21 47.09 27.39 60.79 7.53-25.14 47.27-35.66 53.18-3.59 2.2 28.59-30.43 48.51-56.36 45.77-30.14-1.42-49.23-27.46-61.72-52.02-5.52-9.55-9.98-32.72-19.76-11.76-17.63 22.4-42.59 49.32-74.16 42.91-23.09-4.2-32.51-37.41-12.63-51.38 11.86-9.78 27.57-3.28 37.37 5.99 17.53-18.56 31.38-40.1 45.8-61.06l-10.25-44.48c-31.83-2.04-63.77-3.05-95.65-2.11l-17.26 54.38c-10.64 37.59-16.5 75.91-33.61 112.42s-53.35 72.99-97.06 78.52c-12.16.12-25.35 2.91-36.85-2.16z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: var(--theme_text_bold);
  display: block;
  content: "";
}

.icon_variables::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M358.72 303.57q0 18.12-6.3 32.69-6.3 14.18-17.73 24.82-11.03 10.64-26.79 17.33-15.36 6.3-33.88 8.67v44.12h-39.78v-42.54q-28.36-.79-51.21-9.06-22.45-8.27-41.75-27.97l35.45-35.45q12.61 12.61 28.76 17.73t33.88 5.91v-71.3l-12.61-1.58q-17.73-2.36-31.51-8.27-13.79-6.3-22.85-15.36-20.09-20.09-20.09-54.75 0-34.27 21.66-57.12t60.27-27.18V68.8h39.78v35.06q24.03 1.58 42.54 9.45 18.91 7.48 35.06 22.85l-34.66 34.27q-9.85-9.45-23.24-13.79-13-4.33-25.21-5.12v68.54l14.97 2.36q19.3 3.15 31.91 8.67 12.61 5.12 21.66 13.39 11.42 10.64 16.54 25.6 5.12 14.57 5.12 33.48zm-53.57 1.58q0-15.36-8.67-23.63-4.73-4.33-11.03-6.3-5.91-2.36-16.94-3.94v67.75q17.73-1.97 27.18-10.64t9.45-23.24zm-65.78-153.23q-17.33 2.36-26 12.21-8.27 9.45-8.27 22.45 0 5.51 1.97 10.64 1.97 5.12 6.3 9.45 9.06 8.67 26 11.03zM475 454.62h-86.08V422.1h47.05V80.59h-47.05V48.28H475Zm-363.7 0H25V48.28h86.3v32.31H64.03V422.1h47.27z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: var(--theme_text_bold);
  display: block;
  content: "";
}

.icon_helpers::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M74.742 473.665c-1.45-.655-12.987-11.613-25.637-24.351-25.018-25.19-25.476-25.843-23.268-33.132.78-2.575 29.13-31.363 143.352-145.569l142.38-142.358 30.096 30.097 30.097 30.096-141.92 142.007C146.209 414.14 86.763 472.967 85.097 473.693c-3.512 1.53-6.926 1.52-10.354-.027zm383.233-52.351c-5.768-1.788-10.001-8.63-9.033-14.597 1.446-8.91 12.024-13.735 19.706-8.988 3.317 2.05 6.32 7.511 6.352 11.552.06 7.702-9.408 14.394-17.025 12.033m-132.2-54.929c-10.331-8.693-5.199-23.275 8.193-23.275 3.457 0 4.544.478 7.626 3.353 3.135 2.924 3.652 3.953 4.046 8.048.796 8.284-3.563 13.295-12.104 13.913-4.346.314-5.245.078-7.76-2.039m77.278-31.363c-5.934-3.167-7.123-6.178-7.123-18.041v-9.9h-9.701c-12.078 0-15.471-1.38-18.432-7.497-3.066-6.333-1.45-11.989 4.745-16.615 2.063-1.54 3.995-1.859 12.907-2.124l10.481-.312.003-9.794c.003-8.222.284-10.253 1.75-12.657a12.915 12.915 0 0 1 22.61.678c1.708 3.228 2 5.108 2 12.87v9.088h9.04c7.648 0 9.636.305 12.897 1.977 9.09 4.661 9.48 17.28.7 22.633-2.405 1.466-4.437 1.747-12.658 1.75l-9.794.003-.312 10.394c-.294 9.787-.456 10.582-2.765 13.609-2.891 3.79-4.496 4.756-9.081 5.47-2.604.404-4.315.043-7.267-1.533zM61.333 226.239c-5.239-3.194-6.356-6.228-6.36-17.268l-.003-9.793-10.48-.312c-8.913-.266-10.845-.584-12.908-2.124-8.047-6.008-8.441-16.21-.847-21.887 1.999-1.494 4.139-1.858 13.093-2.225l10.703-.44.44-10.59c.512-12.358 1.472-14.529 7.633-17.254 4.572-2.022 8.829-1.627 12.781 1.187 4.214 3 5.343 6.366 5.775 17.21l.394 9.887h9.336c13.54.003 18.366 3.023 19.204 12.017.319 3.42-.002 4.818-1.66 7.235-4.002 5.83-5.94 6.628-16.935 6.977l-9.929.316-.445 10.093c-.49 11.103-1.244 12.956-6.813 16.746-3.673 2.5-9.094 2.594-12.979.225m396.642-16.707c-5.768-1.788-10.001-8.63-9.033-14.597 1.446-8.91 12.024-13.735 19.706-8.988 3.317 2.05 6.32 7.511 6.352 11.552.06 7.702-9.408 14.394-17.025 12.033m-263.998-26.37c-8.025-1.839-12.357-12.087-8.076-19.108 6.987-11.46 24.07-6.587 24.07 6.867 0 8.195-7.755 14.13-15.994 12.242m166.365-43.923-29.866-29.876 16.69-16.788c9.179-9.233 17.962-17.34 19.517-18.017 3.622-1.573 7.61-1.564 10.617.025 1.305.69 12.724 11.663 25.374 24.386 31.026 31.202 30.645 27.68 5.713 52.79-9.478 9.546-17.445 17.356-17.705 17.356s-13.913-13.444-30.34-29.876m-120.81-36.561c-16.66-4.477-29.02-20.72-29.02-38.136 0-24.045 22.22-42.873 45.822-38.826 30.858 5.292 43.795 42.483 22.752 65.406-10.105 11.008-25.192 15.415-39.554 11.556M58.566 76.703c-4.812-3.302-6.672-6.448-6.672-11.282 0-7.235 5.508-12.742 12.742-12.742 12.413 0 17.752 16.278 7.688 23.444-4.015 2.86-10.066 3.115-13.758.58' style='stroke-width:3.32131'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: var(--theme_text_bold);
  display: block;
  content: "";
}

.icon_layouts::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M100 107.15c-27.61 0-50 22.4-50 50v185.71c0 27.63 22.4 50 50 50h299.99c27.63 0 50-22.37 50-50V157.14c0-27.61-22.37-50-50-50zm-7.14 50c0-3.94 3.2-7.14 7.14-7.14h299.99c3.94 0 7.14 3.2 7.14 7.14v50H92.87ZM207.14 250h199.99v92.85c0 3.94-3.2 7.14-7.14 7.14H207.15Zm-42.86 0v100H100c-3.94 0-7.14-3.2-7.14-7.14v-92.85ZM75.99 58C39.53 58 10 87.55 10 124.01v252c0 36.46 29.55 66.01 65.99 66.01h348c36.46 0 66.01-29.55 66.01-66.01V123.99c0-36.46-29.55-66.01-66.01-66.01zm-45.54 65.99c.4-24.17 19.41-45.54 45.54-45.54h348c19.66.02 47.14 16.37 45.56 45.56v252c4.18 19.7-18.01 45.14-45.56 45.56h-348C56.25 419.66 29.5 404.23 30.44 376z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: var(--theme_text_bold);
  display: block;
  content: "";
}

.icon_start::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 18px;
  height: 18px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M274.73 69.54c-10.13-20.52-39.4-20.52-49.52 0l-48.24 97.72-107.84 15.67c-22.65 3.29-31.69 31.13-15.3 47.1l78.04 76.07-18.42 107.41c-3.87 22.56 19.81 39.76 40.07 29.11l96.46-50.71 96.46 50.71c20.26 10.65 43.93-6.55 40.07-29.11L368.09 306.1l78.04-76.07c16.39-15.97 7.35-43.81-15.3-47.1l-107.87-15.67Zm-70.95 112.75 46.19-93.6 46.19 93.6c4.02 8.15 11.8 13.8 20.79 15.11l103.29 15.01-74.74 72.86a27.59 27.59 0 0 0-7.94 24.44l17.64 102.87-92.39-48.57a27.61 27.61 0 0 0-25.7 0l-92.38 48.56 17.65-102.87c1.54-8.96-1.43-18.1-7.94-24.44L79.69 212.4l103.29-15.01a27.63 27.63 0 0 0 20.79-15.11zM28.36 83.42c-5.29 6.62-4.22 16.27 2.4 21.56l51.14 40.91c6.62 5.29 16.27 4.22 21.56-2.4s4.22-16.27-2.4-21.56l-51.14-40.9c-6.61-5.3-16.27-4.22-21.56 2.39m443.28 295.31c5.29-6.62 4.22-16.27-2.4-21.56l-51.13-40.92c-6.62-5.29-16.27-4.22-21.56 2.4s-4.22 16.27 2.4 21.56l51.14 40.91c6.62 5.29 16.27 4.22 21.56-2.4zM30.76 357.16c-6.62 5.29-7.69 14.95-2.4 21.56s14.95 7.69 21.56 2.4l51.14-40.91c6.62-5.29 7.69-14.95 2.4-21.56s-14.95-7.69-21.56-2.4zM471.64 83.42c5.29 6.62 4.22 16.27-2.4 21.56l-51.14 40.91c-6.62 5.29-16.27 4.22-21.56-2.4s-4.22-16.27 2.4-21.56l51.14-40.91c6.62-5.29 16.27-4.22 21.56 2.4'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: currentColor;
  content: "";
}

.icon_email::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='%233A405A'%3E%3Cpath d='M430 70H70c-24.75 0-44.77 20.25-44.77 45L25 385c0 24.75 20.25 45 45 45h360c24.75 0 45-20.25 45-45V115c0-24.75-20.25-45-45-45m0 90L250 272.5 70 160v-45l180 112.5L430 115z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  content: "";
}

.icon_search::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 26px;
  height: 26px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='500' height='500' fill='%233A405A'%3E%3Cpath fill-rule='evenodd' d='M194.61 154.09c-19.63 4.54-35.24 21.26-39.79 39.52-1.55 8.54-9 14.99-17.9 14.99-9.99 0-18.17-8.18-18.17-18.17 0-13.08 10.99-32.98 25.98-47.88 14.72-14.54 32.25-24.8 46.7-24.8 9.99 0 18.17 8.45 18.17 18.45 0 8.9-6.45 16.35-14.99 17.89m249.76 238.22c14.09 14.08 14.09 36.98 0 51.06-14.08 14.09-36.98 14.09-50.97 0l-104.39-104.3c-24.35 15.18-53.06 23.99-83.95 23.99-87.86 0-159-71.14-159-159 0-87.85 71.14-159 159-159s159 71.14 159 159c0 30.8-8.82 59.61-23.99 83.95zM318.62 204.06c0-62.69-50.88-113.57-113.57-113.57S91.48 141.37 91.48 204.06s50.88 113.57 113.57 113.57 113.57-50.88 113.57-113.57' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  content: "";
}

.icon_light::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='%233A405A'%3E%3Cpath d='M250.02 159.08c-50.19 0-90.9 40.74-90.9 90.9 0 50.19 40.74 90.9 90.9 90.9 50.19 0 90.9-40.74 90.9-90.9 0-50.19-40.74-90.9-90.9-90.9M68.18 268.16h36.36c10.02 0 18.18-8.16 18.18-18.18s-8.16-18.18-18.18-18.18H68.18c-10.02 0-18.18 8.17-18.18 18.18 0 10.02 8.16 18.18 18.18 18.18m327.28 0h36.36c10.02 0 18.18-8.16 18.18-18.18s-8.16-18.18-18.18-18.18h-36.36c-10.02 0-18.18 8.16-18.18 18.18s8.16 18.18 18.18 18.18M231.84 68.18v36.36c0 10.02 8.16 18.18 18.18 18.18s18.18-8.16 18.18-18.18V68.18c0-10.02-8.17-18.18-18.18-18.18-10.02 0-18.18 8.16-18.18 18.18m0 327.28v36.36c0 10.02 8.16 18.18 18.18 18.18s18.18-8.16 18.18-18.18v-36.36c0-10.02-8.16-18.18-18.18-18.18s-18.18 8.16-18.18 18.18m-91.13-280.37c-7.11-7.11-18.71-7.11-25.63 0-7.11 7.11-7.11 18.71 0 25.63L134.36 160c7.11 7.11 18.71 7.11 25.63 0s7.11-18.71 0-25.63zm224.93 224.93c-7.11-7.11-18.71-7.11-25.63 0-7.11 7.11-7.11 18.71 0 25.63l19.28 19.28c7.11 7.11 18.71 7.11 25.63 0 7.11-7.11 7.11-18.71 0-25.63zm19.28-199.3c7.11-7.11 7.11-18.71 0-25.63-7.11-7.11-18.71-7.11-25.63 0l-19.28 19.28c-7.11 7.11-7.11 18.71 0 25.63s18.71 7.11 25.63 0zM159.99 365.64c7.11-7.11 7.11-18.71 0-25.63-7.11-7.11-18.71-7.11-25.63 0l-19.28 19.28c-7.11 7.11-7.11 18.71 0 25.63s18.71 7.11 25.63 0z' style='stroke-width:1'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  content: "";
}

.icon_dark::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='%233A405A'%3E%3Cpath d='M250 50C139.56 50 50 139.56 50 250s89.56 200 200 200 200-89.56 200-200c0-10.22-.89-20.44-2.22-30.22C426 250.22 390.44 270 350 270c-66.22 0-120-53.78-120-120 0-40.22 19.78-76 50.22-97.78-9.78-1.33-20-2.22-30.22-2.22' style='stroke-width:6.16776'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  filter: var(--theme_icon_filter);
  content: "";
}

.icon_help::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 15px;
  height: 22px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='264.24' height='400.174' fill='%23FFF'%3E%3Cpath d='M0 110.573c1.07-48.01 39.68-87.75 83.48-102.45C130.5-6.647 186.14-2.107 226 28.623c37.23 27.79 51.13 85.11 24.25 124.47-17.22 26.41-43.87 44.53-66.12 66.36-13.29 11.33-22.98 26.7-25.29 44.2-.69 18.9-15.97 36.97-36.16 33.32-20.75-.58-31.92-22.29-29.03-40.97-.05-29.55 16.54-56.12 38.33-74.93 18.89-19.71 44.71-34.11 56.61-59.61 11.48-27.61-10.29-59.63-38.68-64.14-23.84-4.72-53.05.78-65.59 23.83-12.87 16.59-12.9 40.14-28.09 55-20.36 18.06-56.3 1.55-56.23-25.58m128.93 289.56c-20.67.99-40.74-16.04-40.11-37.32-2.54-24.68 22.19-45.86 46.16-41.28 24.86 2.53 39.71 31.1 31.04 53.63-5.16 15.2-21.34 25.2-37.09 24.97'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  content: "";
}

.icon_guide::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 18px;
  height: 18px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M128.78 65.51C91.64 65.9 57.29 76.47 25 95.96v338.59c87.45-47.05 211.4-.26 224.95-.26s123.59-46.2 225.05.26V95.96c-68.52-33.47-147.39-47.29-225.74 0v.16c-43.42-21.22-83.35-31-120.48-30.61m3.6 39.92c27.6-.34 57.25 7.3 89.21 23.92v265.23c-46.39-16.05-94.65-28.74-166.12 0V129.35c23.76-15.27 49.31-23.58 76.91-23.92m225.16 0c27.6-.34 57.25 7.3 89.21 23.92v265.23c-46.39-16.05-94.65-28.74-166.12 0V129.35c23.76-15.27 49.31-23.58 76.91-23.92'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: currentColor;
  content: "";
}

.icon_issue::after {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 18px;
  height: 18px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500' fill='currentColor'%3E%3Cpath d='M246.87 109.7c-20.28 0-72.02 6.94-72.02 18.94 0 12.01 59.08 157.79 59.08 157.79 2.51 6.69 5.8 12.94 12.94 12.94 7.15 0 10.49-6.23 12.94-12.94 0 0 57.55-150.12 57.55-157.79s-50.21-18.94-70.49-18.94m35.51 243.25c0 19.72-15.98 35.7-35.7 35.7s-35.7-15.98-35.7-35.7 15.98-35.7 35.7-35.7 35.7 15.98 35.7 35.7M97.41 59.01c-23.54 0-42.09 10.12-53.6 23.98-11.47 13.86-16.51 30.8-16.51 46.13L25 365.32v.13c0 17.33 4.95 35.4 15.68 50.04s28.23 25.5 49.78 25.5H407.2c24.98 0 43.83-10.25 54.38-25.37C472.13 400.54 475 382.3 475 365.45V129.11c0-14.33-3.56-31.14-14.25-45.39C450.11 69.52 431.61 59 407.2 59zm0 25.84H407.2c17.64 0 26.58 6.04 32.84 14.38 6.25 8.34 9.08 20.11 9.08 29.88v236.34c0 13.73-2.78 26.8-8.77 35.36s-14.55 14.29-33.14 14.29c-62.88 0-316.74.04-316.74.04-13.38 0-22.11-5.65-28.93-14.94-6.83-9.29-10.7-22.54-10.7-34.74l2.35-236.21v-.13c0-9.43 3.48-21.07 10.55-29.62 7.08-8.56 17.07-14.64 33.66-14.64'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: currentColor;
  content: "";
}