@use "../sisass" as s;
@use "../core/variables" as v;

.main_menu {
    padding-left: min(2.08vw, 40px);

    .group_1 {
        @include s.flex-direction(column);
        @include s.flex;
        margin-bottom: 35px;

        &:last-child { margin-bottom: 0; }

        .title {
            @include s.font(s.szrem(24), v.$f2, bold);
            @include s.text;
            margin-bottom: 14px;
            color: v.$c3;
        }

        .item {
            @include s.font(s.szrem(18), v.$f2);
            @include s.text;
            margin-bottom: 10px;
            color: v.$c3;

            &:hover { color: v.$c5; }
            &:last-child { margin-bottom: 0; }
            &.active { color: v.$c5; }
        }
    }
}
