// Update: 20260924
//---------------------
@use "sass:color";
@use "sass:map";
@use "../base" as *;
@use "../vendor" as *;

$btn_default: (
    width: 110px,
    height: 47px,
    aspect_ratio: null,
    bg: #FFF,
    bg_hover: #000,
    bg_active: #000,
    bg_disabled: color.adjust(#000, $lightness: 70%),
    color_hover: #FFF,
    color_active: #FFF,
    color_disabled: color.adjust(#000, $lightness: 40%),
    border-radius: 0px,
    border: 1px solid #000,
    border_hover: 1px solid #000,
    border_disabled: 1px solid color.adjust(#000, $lightness: 70%),
    time: 500ms,
    tf: (),
    display: flex,
    cursor: pointer,
    cursor_disabled: not-allowed,
    reset: true
);

@mixin button_simple($attr: ()) {
    $w: mapv($attr, (width, w), map.get($btn_default, width));
    $h: mapv($attr, (height, h), map.get($btn_default, height));
    $ar: mapv($attr, (aspect_ratio, ratio, ar), map.get($btn_default, aspect_ratio));
    $bg: mapv($attr, bg, map.get($btn_default, bg));
    $bgh: mapv($attr, (bg_hover, bgh), map.get($btn_default, bg_hover));
    $bga: mapv($attr, (bg_active, bga), map.get($btn_default, bg_active));
    $bgd: mapv($attr, (bg_disabled, bgd), map.get($btn_default, bg_disabled));
    $color: mapv($attr, (color, c), #000);
    $colorh: mapv($attr, (color_hover, ch), map.get($btn_default, color_hover));
    $colora: mapv($attr, (color_active, ca), map.get($btn_default, color_active));
    $colord: mapv($attr, (color_disabled, cd), map.get($btn_default, color_disabled));
    $radius: mapv($attr, (border-radius, radius), map.get($btn_default, border-radius));
    $bd: mapv($attr, (border, bd), map.get($btn_default, border));
    $bdh: mapv($attr, (border_hover, bdh), map.get($btn_default, border_hover));
    $bda: mapv($attr, (border_active, bda), 1px solid #000);
    $bdd: mapv($attr, (border_disabled, bdd), map.get($btn_default, border_disabled));
    $time: mapv($attr, (time, t), map.get($btn_default, time));
    $tf_attr: mapv($attr, tf, map.get($btn_default, tf));
    $cursor: mapv($attr, (cursor, cur), map.get($btn_default, cursor));
    $cursord: mapv($attr, (cursor_disabled, curd), map.get($btn_default, cursor_disabled));
    $reset: mapv($attr, (reset, r), map.get($btn_default, reset));

    @if $reset {
        all: initial;
    }

    @if $ar != null { $h: null }
    @include resolve-size(( w: $w, h: $h, r: $ar));


    @include transition(all $time);
    @include center-flex-column;
    @include border-radius($radius);
    @include user-select;
    @include tf($tf_attr);
    @include bc($bg, $color);
    cursor: $cursor;
    border: $bd;

    &:hover {
        @include transition(all $time);
        @include bc($bgh, $colorh);
        border: $bdh;
    }

    &:disabled,
    &.disabled {
        @include transition(all $time);
        @include bc($bgd, $colord);
        cursor: $cursord;
        border: $bdd;
    }

    &.active {
        @include transition(all $time);
        @include bc($bga, $colora);
        border: $bda;
    }
}

@mixin button_style_arrow($attr: ()) {
    $w: mapv($attr, (width, w), map.get($btn_default, width));
    $h: mapv($attr, (height, h), map.get($btn_default, height));
    $ar: mapv($attr, (aspect_ratio, ratio, ar), map.get($btn_default, aspect_ratio));
    $bg: mapv($attr, bg, map.get($btn_default, bg));
    $bgh: mapv($attr, (bg_hover, bgh), map.get($btn_default, bg_hover));
    $bga: mapv($attr, (bg_active, bga), map.get($btn_default, bg_active));
    $bgd: mapv($attr, (bg_disabled, bgd), map.get($btn_default, bg_disabled));
    $color: mapv($attr, (color, c), #FFF);
    $colorh: mapv($attr, (color_hover, ch), map.get($btn_default, color_hover));
    $colora: mapv($attr, (color_active, ca), map.get($btn_default, color_active));
    $colord: mapv($attr, (color_disabled, cd), map.get($btn_default, color_disabled));
    $radius: mapv($attr, (border-radius, radius), map.get($btn_default, border-radius));
    $bd: mapv($attr, (border, bd), map.get($btn_default, border));
    $bdh: mapv($attr, (border_hover, bdh), map.get($btn_default, border_hover));
    $bda: mapv($attr, (border_active, bda), 1px solid #000);
    $bdd: mapv($attr, (border_disabled, bdd), map.get($btn_default, border_disabled));
    $time: mapv($attr, (time, t), map.get($btn_default, time));
    $tf_attr: mapv($attr, tf, map.get($btn_default, tf));
    $iconr: mapv($attr, (icon_right, ir), false);
    $iconl: mapv($attr, (icon_left, il), false);
    $cursor: mapv($attr, (cursor, cur), map.get($btn_default, cursor));
    $cursord: mapv($attr, (cursor_disabled, curd), map.get($btn_default, cursor_disabled));
    $reset: mapv($attr, (reset, r), map.get($btn_default, reset));
    $display: mapv($attr, (display, d), map.get($btn_default, display));

    @if $reset {
        all: initial;
    }

    @if $ar != null { $h: null }
    @include resolve-size(( w: $w, h: $h, r: $ar));

    @include position;
    @include border-radius($radius);
    @include user-select;
    cursor: $cursor;
    display: block;

    &:before {
        @include transition(all $time linear);
        @include position(absolute);
        @include wh(99%, 97%);
        border: $bd;
        background-color: transparent;
        content: "";
        z-index: 0;
    }

    &:hover {
        &:before {
            @include transition(all $time linear);
            @include position(absolute, 4px, 4px);
            border: $bdh;
        }

        .content_link {
            @include transition(all $time linear);
            @include bc($bgh, $colorh);

            @if $iconr {
                &:after {
                    @include position(relative, -2px, 15px);
                    @include transition(all $time linear);
                }
            }

            @if $iconl {
                &:before {
                    @include position(relative, -2px, -15px);
                    @include transition(all $time linear);
                }
            }
        }
    }

    &:disabled,
    &.disabled {
        cursor: $cursord;

        &:hover {
            &:before {
                @include position(absolute);
            }
        }

        &:before {
            border: $bdd;
        }

        .content_link {
            @include bc($bgd, $colord);
            border:  $bdd;
        }
    }

    &.active {
        &:before {
            @include transition(all $time linear);
            border: $bda;
        }

        .content_link {
            @include transition(all $time linear);
            @include bc($bga, $colora);
            border: $bda;
        }
    }

    .content_link {
        @if $ar != 0 {
            @include wh($w);
            aspect-ratio: $ar;
        } @else {
            @include wh($w, $h);
        }

        @include position;
        @include center-flex-row;
        @include tf($tf_attr);
        @include transition(all $time linear);
        @include bc($bg, $color);
        border: $bd;
        z-index: 0;

        @if $iconr {
            padding-right: 5px;

            &:after {
                @include position(relative, -2px, 10px);
                @include transition(all $time linear);
                content: "\2192";
            }
        }

        @if $iconl {
            padding-left: 5px;

            &:before {
                @include position(relative, -2px, -10px);
                @include transition(all $time linear);
                content: "\2190";
            }
        }
    }
}

@mixin button_bisel($attr: ()) {
    $w: mapv($attr, width, 140px);
    $h: mapv($attr, height, 55px);
    $difi: mapv($attr, diff, 10px);
    $bg1: mapv($attr, bg1, #FFF);
    $bg2: mapv($attr, bg2, #000);
    $bgo: mapv($attr, bg_opacity, 0.4);
    $bdb: mapv($attr, border_contain, false);
    $bd: mapv($attr, border, 2px solid #000);
    $aspi: mapv($attr, aspect_inside, 2.8);
    $font: mapv($attr, font, "sans-serif");
    $size: mapv($attr, size, 18);
    $weight: mapv($attr, weight, bold);
    $ob: mapv($attr, opacity_before, 1);
    $color: mapv($attr, color, #FFF);
    $colorh: mapv($attr, color_hover, #FFF);

    all: initial;
    @include wh($w, $h);
    @include user-select;
    @include position;
    background: linear-gradient(to top, rgba($bg1, $bgo), rgba($bg2, $bgo));
    cursor: pointer;
    display: block;

    @if $bdb {
        border: $bd;
    }

    &:hover {
        &:before {
            background: linear-gradient(to top, rgba($bg1, $bgo), rgba($bg2, $bgo));
        }

        .content_link { color: $colorh; }
    }

    &:before {
        @include center-absolute;
        width: calc($w - $difi);
        aspect-ratio:  $aspi;
        opacity: $ob;
        background: linear-gradient(to bottom, rgba($bg1, $bgo), rgba($bg2, $bgo));
        z-index: 0;
        content: "";
    }

    .content_link {
        @include font(szrem($size), $font, $weight);
        @include text(center, uppercase);
        @include center-absolute;
        color: $color;
        width: 95%;
        z-index: 2;
    }
}
