.circle_border_radius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.box_shadow_example {
  -webkit-box-shadow: 7px 7px 7px #FBB03B;
  -moz-box-shadow: 7px 7px 7px #FBB03B;
  box-shadow: 7px 7px 7px #FBB03B;
}