// Update: 20220420

//-----------------------------------

@mixin floatImg($attr: ()) {
    $name_k: mapv($attr, name, floatImg);
    $dis_y:  mapv($attr, Y, 15px);

    @include keyframes($name_k) {
        0%   {
            @include transform(translateY(0));
        }

        50%  {
            @include transform(translateY($dis_y));
        }

        100% {
            @include transform(translateY(0));
        }
    }
};

@mixin fadeZoomIn($attr: ()) {
    $name_k: mapv($attr, name, fadeZoomIn);
    $scale: mapv($attr, scale, 1.3);

    @include keyframes($name_k) {
        0% {
            @include transform(scale($scale));
            opacity: 0;
        }

        100% {
            @include transform(scale(1));
            opacity: 1;
        }
    }
}

@mixin fadeZoomOut($attr: ()) {
    $name_k: mapv($attr, name, fadeZoomOut);
    $scale: mapv($attr, scale, 0.3);

    @include keyframes($name_k) {
        0% {
            @include transform(scale($scale));
            opacity: 0;
        }

        100% {
            @include transform(scale(1));
            opacity: 1;
        }
    }
}

@mixin zoomOut($attr: ()) {
    $name_k: mapv($attr, name, zoomOut);
    $scale: mapv($attr, scale, 0.3);

    @include keyframes($name_k) {
        0% {
            @include transform(scale(1));
            opacity: 1;
        }

        100% {
            @include transform(scale($scale));
            opacity: 0;
        }
    }
}

@mixin zoomIn($attr: ()) {
    $name_k: mapv($attr, name, zoomIn);
    $scale: mapv($attr, scale, 0);

    @include keyframes($name_k) {
        0% {
            @include transform(scale($scale));
            opacity: 0;
        }

        100% {
            @include transform(scale(1));
            opacity: 1;
        }
    }
}

@mixin bgTransitionOpacityIn($attr: ()) {
    $name_k:  mapv($attr, name, bgTransitionOpacityIn);
    $bg1:     mapv($attr, bg1, $c2);
    $bg2:     mapv($attr, bg2, $bg1);
    $opacity: mapv($attr, opacity, 0.8);

    @include keyframes($name_k) {
        0% {
            @include background-opacity($bg1, 0);
        }

        100% {
            @include background-opacity($bg2, $opacity);
        }
    }
}

@mixin bgTransitionOpacityOut($attr: ()) {
    $name_k:  mapv($attr, name, bgTransitionOpacityOut);
    $bg1:     mapv($attr, bg1, $c2);
    $bg2:     mapv($attr, bg2, $bg1);
    $opacity: mapv($attr, opacity, 0.8);

    @include keyframes($name_k) {
        0% {
            @include background-opacity($bg1, $opacity);
        }

        100% {
            @include background-opacity($bg2, 0);
        }
    }
}
