.documentationpage .input_autofill:-webkit-autofill, .documentationpage .input_autofill:-webkit-autofill:hover, .documentationpage .input_autofill:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 1000px #FBB03B;
  -moz-box-shadow: inset 0 0 0 1000px #FBB03B;
  box-shadow: inset 0 0 0 1000px #FBB03B;
  -webkit-transition: background-color 5000s ease-in-out 0;
  -moz-transition: background-color 5000s ease-in-out 0;
  -o-transition: background-color 5000s ease-in-out 0;
  transition: background-color 5000s ease-in-out 0;
  -webkit-text-fill-color: #A01303;
  padding: 15px;
  border: 2px dashed #3A405A;
}

.documentationpage .background_gradient {
  background-image: linear-gradient(to bottom, hsl(330, 100%, 45.1%) 0%, hsl(330, 100%, 45.1%) 33.3%, hsl(270, 50%, 45.1%) 33.3%, hsl(270, 50%, 45.1%) 66.7%, hsl(210, 100%, 45.1%) 66.7%, hsl(210, 100%, 45.1%) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: auto;
}
.documentationpage .background_gradient_linear {
  background-image: linear-gradient(90deg, #FBB03B, #A01303);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: auto;
}
.documentationpage .background_gradient_radial {
  background-image: radial-gradient(circle, #A01303 0%, #2D396C 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: auto;
}
.documentationpage .background_image {
  width: 220px;
  height: 140px;
  background-image: url("../img/test/1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F3F3;
  background-size: cover;
}

.documentationpage .background_opacity_example_legacy {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100px;
  height: 100px;
  margin-block-end: 20px;
}
.documentationpage .background_opacity_example_map {
  background-color: #000;
  background-color: rgb(0 0 0 / 0.35);
  width: 100px;
  height: 100px;
}

.documentationpage .bc_example {
  background-color: #3A405A;
  color: #FBB03B;
}

.documentationpage .center_flex_column_demo {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.documentationpage .center_flex_row_demo {
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.documentationpage .contain_container {
  width: 100%;
  height: auto;
  aspect-ratio: 1.7777777778;
  max-height: 500px;
}
.documentationpage .contain_container .contain_example {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.documentationpage .cover_container {
  width: 100%;
  height: auto;
  aspect-ratio: 1.7777777778;
  max-height: 500px;
}
.documentationpage .cover_container .cover_example {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.documentationpage .font_example_params {
  font-size: 1.125rem;
  font-family: "Fira Sans", "sans-serif";
  font-weight: 700;
  font-style: italic;
  font-variant: normal;
  line-height: 1.4;
}
.documentationpage .font_example_map {
  font-size: 1.25rem;
  font-family: "Montserrat", "sans-serif";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  line-height: 1.2;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fira_sans/firasans_regular.woff2") format("woff2"), url("../fonts/fira_sans/firasans_regular.woff") format("woff"), url("../fonts/fira_sans/firasans_regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/fira_sans/firasans_bold.woff2") format("woff2"), url("../fonts/fira_sans/firasans_bold.woff") format("woff"), url("../fonts/fira_sans/firasans_bold.ttf") format("truetype");
  font-display: swap;
}
.documentationpage .font_face_example_normal {
  font-size: 1.125rem;
  font-family: "Fira Sans";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
.documentationpage .font_face_example_bold {
  font-size: 1.125rem;
  font-family: "Fira Sans";
  font-weight: bold;
  font-style: normal;
  font-variant: normal;
}

.documentationpage .gap_example {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  grid-gap: 10px;
  gap: 10px;
}

.documentationpage .gradient_text_example {
  background-image: -webkit-linear-gradient(90deg, #A01303, #2D396C);
  background-image: -moz-linear-gradient(90deg, #A01303, #2D396C);
  background-image: -o-linear-gradient(90deg, #A01303, #2D396C);
  background-image: linear-gradient(90deg, #A01303, #2D396C);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: inline-block;
  font-size: 1.75rem;
  font-family: "Fira Sans", "sans-serif";
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
}

.documentationpage .ht_example {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -10000000px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.documentationpage .center_absolute_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
.documentationpage .center_absolute_container .center_absolute_example {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.documentationpage .icon-svg-example {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -10000000px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 263px;
  height: 99px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.documentationpage .icon-svg-example::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 263px;
  height: 99px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='334.351' height='125.617' viewBox='0 0 88.464 33.236' fill='%23A01303'%3E%3Cpath d='M1.323 1.323v23.223H87.14V1.323H24.33zm.984.986H24.33v21.25H2.307Zm23.008 0h60.84v21.25h-60.84zm-11.997 3.22a7.379 7.405 0 0 0-7.378 7.406 7.379 7.405 0 0 0 7.378 7.405 7.379 7.405 0 0 0 7.379-7.405 7.379 7.405 0 0 0-7.38-7.405zm0 1.15a6.234 6.256 0 0 1 6.234 6.256 6.234 6.256 0 0 1-4.276 5.939v-4.197a1.604 1.604 0 0 0 1.414-1.592v-.023a1.604 1.604 0 0 0-1.62-1.58 1.604 1.604 0 0 0-1.587 1.614 1.604 1.604 0 0 0 1.414 1.58v4.31a6.234 6.256 0 0 1-1.58.205 6.234 6.256 0 0 1-6.233-6.256 6.234 6.256 0 0 1 4.277-5.937v4.15a1.604 1.604 0 0 0-1.415 1.59v.024a1.604 1.604 0 0 0 1.62 1.58 1.604 1.604 0 0 0 1.587-1.614 1.604 1.604 0 0 0-1.414-1.58V6.9a6.234 6.256 0 0 1 1.58-.222zm22.985 1.644q-1.361 0-2.281.403-.907.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.441.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.143.252q1.374 0 2.28-.403.909-.417 1.362-1.084.466-.68.467-1.487 0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m12.69 0q-1.362 0-2.281.403-.907.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.441.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.144.252q1.374 0 2.28-.403.909-.417 1.362-1.084.465-.68.466-1.487 0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m18.437 0q-1.362 0-2.281.403-.908.403-1.374 1.084a2.6 2.6 0 0 0-.454 1.487q0 .705.265 1.184.264.466.693.756.44.29.958.466a10 10 0 0 0 1.046.29q.516.102.945.202.441.088.705.227.265.138.265.378 0 .15-.113.265-.114.1-.366.163-.24.05-.667.05-.732 0-1.513-.213a6.4 6.4 0 0 1-1.4-.593l-.956 2.168q.668.403 1.7.655a9 9 0 0 0 2.143.252q1.374 0 2.28-.403.909-.417 1.362-1.084.466-.68.466-1.487 0-.693-.264-1.16a2.2 2.2 0 0 0-.706-.755 4 4 0 0 0-.945-.467 8 8 0 0 0-1.046-.277l-.958-.19a3 3 0 0 1-.693-.213q-.264-.138-.265-.365 0-.152.1-.278.115-.126.367-.202a2.5 2.5 0 0 1 .68-.075q.579 0 1.185.164.616.165 1.273.49l.894-2.154a5.6 5.6 0 0 0-1.562-.58 8.3 8.3 0 0 0-1.764-.188m8.279 0q-1.362 0-2.281.403-.908.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.442.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.144.252q1.374 0 2.28-.403.909-.417 1.36-1.084a2.57 2.57 0 0 0 .468-1.487q0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m-34.82.2v8.822h2.975v-8.82Zm15.59 0-3.857 8.822h3.025l.59-1.537h3.356l.59 1.537h3.075l-3.856-8.82zm1.436 2.92.854 2.223H57.06zM17.912 26.7a.32.32 0 0 0-.336.33.32.32 0 0 0 .094.237q.095.09.242.089.151 0 .247-.09a.32.32 0 0 0 .094-.235.32.32 0 0 0-.094-.237.33.33 0 0 0-.247-.094m9.32.157-.483.058v3.334q0 .289.152.452a.57.57 0 0 0 .426.157q.21 0 .383-.094l-.126-.336a.5.5 0 0 1-.178.03q-.095 0-.137-.051a.3.3 0 0 1-.037-.168zm17.554 0q-.41 0-.641.22a.75.75 0 0 0-.226.573v.378h-.493v.373h.493v2.394h.483V28.4h.62l.052-.373h-.672v-.383q0-.205.095-.3.095-.1.315-.1.246 0 .483.106l.152-.352a1.7 1.7 0 0 0-.661-.142zm11.157 0q-.41 0-.64.22a.75.75 0 0 0-.226.573v.378h-.494v.373h.494v2.394h.483V28.4h.62l.052-.373h-.672v-.383q0-.205.095-.3.094-.1.314-.1.247 0 .484.106l.152-.352a1.7 1.7 0 0 0-.662-.142zm-40.21.258q-.332 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.477.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163 1.4 1.4 0 0 1-.504-.09q-.226-.093-.447-.272l-.273.304q.479.467 1.23.467.398 0 .687-.136a1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267.44.44 0 0 1 .184-.384.8.8 0 0 1 .467-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm48.407 0q-.33 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.477.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163q-.279 0-.504-.09a1.8 1.8 0 0 1-.446-.272l-.273.304q.478.467 1.228.467a1.6 1.6 0 0 0 .688-.136 1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267q0-.252.183-.384a.8.8 0 0 1 .468-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm5.844 0q-.33 0-.593.12a1 1 0 0 0-.405.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.478.189.168.094.236.215a.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163 1.4 1.4 0 0 1-.504-.09 1.8 1.8 0 0 1-.446-.272l-.274.304q.479.467 1.23.467.398 0 .687-.136a1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267.44.44 0 0 1 .184-.384.8.8 0 0 1 .467-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm2.799 0q-.332 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.813.405.316.095.478.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.558.163 1.4 1.4 0 0 1-.503-.09q-.226-.093-.447-.272l-.273.304q.478.467 1.229.467a1.6 1.6 0 0 0 .688-.136 1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.2 3.2 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267q0-.252.183-.384a.8.8 0 0 1 .468-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm-40.216.063v3.617h.499v-3.617zm34.183 0-1.161 3.617h.504l.273-.908h1.37l.274.908h.525l-1.155-3.617zm-29.07.168-.482.057v.625h-.483v.373h.483v1.67q0 .382.194.588.2.2.552.2.345 0 .62-.19l-.184-.32a.8.8 0 0 1-.368.11q-.18.001-.257-.094-.074-.1-.074-.315V28.4h.604l.053-.373h-.657zm29.374.247.562 1.89h-1.13zm-46.643.372q-.487 0-.798.468l-.042-.405h-.415v2.767h.483v-1.963q.158-.247.3-.368a.52.52 0 0 1 .352-.12q.388 0 .388.535v1.916h.483v-1.963q.163-.252.305-.368.142-.12.346-.12.39 0 .389.535v1.916h.483V28.81q0-.39-.205-.615a.7.7 0 0 0-.546-.23.83.83 0 0 0-.467.13q-.196.126-.357.368a.7.7 0 0 0-.263-.368.7.7 0 0 0-.436-.13m4.516 0a1.03 1.03 0 0 0-.82.436l-.036-.373h-.415v3.886l.483-.058v-1.313q.263.315.725.315.52 0 .803-.4.285-.398.284-1.05 0-.686-.247-1.065-.246-.378-.777-.378m4.31 0q-.352 0-.613.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.904.377.525 0 .966-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.514-.216q-.2-.215-.232-.672h1.765q.01-.126.01-.246 0-.642-.294-1.003-.294-.363-.845-.363zm6.155 0a.96.96 0 0 0-.483.126q-.215.126-.363.347l-.041-.41h-.415v2.767h.483v-1.963a1.3 1.3 0 0 1 .315-.363.63.63 0 0 1 .388-.126q.215 0 .326.12.11.121.11.416v1.916h.483V28.81q0-.395-.215-.62-.21-.225-.588-.226zm4.542 0q-.353 0-.614.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.903.377.526 0 .967-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.515-.216q-.2-.215-.23-.672h1.764q.01-.126.01-.246 0-.642-.294-1.003-.294-.363-.845-.363m3.114 0a.67.67 0 0 0-.441.158 1.05 1.05 0 0 0-.3.467l-.047-.562h-.415v2.767h.483v-1.58q.09-.399.247-.588a.51.51 0 0 1 .415-.19q.115 0 .24.032l.09-.472a1.1 1.1 0 0 0-.272-.032m3.36 0q-.441 0-.956.19l.12.35a2.4 2.4 0 0 1 .747-.146q.293 0 .436.126.14.126.14.42v.205h-.424q-.583 0-.903.236-.315.236-.315.678 0 .373.236.603t.646.23q.546 0 .824-.413a.55.55 0 0 0 .195.294.74.74 0 0 0 .346.12l.11-.336a.36.36 0 0 1-.173-.12.45.45 0 0 1-.057-.252v-1.266q0-.441-.242-.677-.241-.242-.73-.242m2.972 0a1.13 1.13 0 0 0-.646.184 1.2 1.2 0 0 0-.415.515q-.147.33-.147.772 0 .666.32 1.044.327.378.888.378.468 0 .845-.304l-.22-.315a1.7 1.7 0 0 1-.305.163.9.9 0 0 1-.3.047.62.62 0 0 1-.524-.247q-.184-.252-.184-.777-.001-.525.184-.793a.61.61 0 0 1 .525-.268.8.8 0 0 1 .304.053 1.1 1.1 0 0 1 .29.152l.23-.305a1.2 1.2 0 0 0-.393-.225 1.3 1.3 0 0 0-.452-.074m2.347 0q-.352 0-.614.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.904.377.525 0 .966-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.514-.216q-.2-.215-.231-.672h1.764q.01-.126.01-.246 0-.642-.293-1.003-.295-.363-.846-.363m6.049 0q-.389 0-.667.184a1.13 1.13 0 0 0-.425.51 1.8 1.8 0 0 0-.147.755q0 .668.325 1.056.325.389.909.388a1.2 1.2 0 0 0 .66-.178 1.17 1.17 0 0 0 .427-.51q.147-.33.147-.76-.001-.668-.326-1.056-.32-.39-.903-.39zm3.23 0a.67.67 0 0 0-.442.158 1.05 1.05 0 0 0-.3.467l-.046-.562h-.415v2.767h.483v-1.58q.09-.399.247-.588a.51.51 0 0 1 .414-.19 1 1 0 0 1 .242.032l.09-.472a1.1 1.1 0 0 0-.274-.032zm-43.33.063v2.767h.483v-2.767zm7.13.32q.625 0 .625 1.06 0 1.057-.682 1.057a.7.7 0 0 1-.347-.085.75.75 0 0 1-.263-.251v-1.35q.126-.19.295-.31a.62.62 0 0 1 .372-.12zm4.443 0q.326 0 .488.216.163.215.163.625v.03h-1.298q.052-.87.647-.87zm10.695 0q.326 0 .488.216.164.215.164.625v.03h-1.298q.052-.87.646-.87zm11.794 0q.326 0 .488.216.163.215.163.625v.03h-1.297q.052-.87.646-.87zm6.038.006q.709 0 .709 1.055 0 1.061-.714 1.06c-.714-.001-.714-.351-.714-1.055q0-1.06.719-1.06M46.534 29.43h.362v.635q-.236.431-.65.43-.237 0-.358-.125-.12-.126-.12-.373 0-.567.766-.567'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  background-size: 100%;
  content: "";
}
.documentationpage .icon-svg-example-map {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -10000000px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 150px;
  height: 56px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
.documentationpage .icon-svg-example-map::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 56px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='334.351' height='125.617' viewBox='0 0 88.464 33.236' fill='%233A405A'%3E%3Cpath d='M1.323 1.323v23.223H87.14V1.323H24.33zm.984.986H24.33v21.25H2.307Zm23.008 0h60.84v21.25h-60.84zm-11.997 3.22a7.379 7.405 0 0 0-7.378 7.406 7.379 7.405 0 0 0 7.378 7.405 7.379 7.405 0 0 0 7.379-7.405 7.379 7.405 0 0 0-7.38-7.405zm0 1.15a6.234 6.256 0 0 1 6.234 6.256 6.234 6.256 0 0 1-4.276 5.939v-4.197a1.604 1.604 0 0 0 1.414-1.592v-.023a1.604 1.604 0 0 0-1.62-1.58 1.604 1.604 0 0 0-1.587 1.614 1.604 1.604 0 0 0 1.414 1.58v4.31a6.234 6.256 0 0 1-1.58.205 6.234 6.256 0 0 1-6.233-6.256 6.234 6.256 0 0 1 4.277-5.937v4.15a1.604 1.604 0 0 0-1.415 1.59v.024a1.604 1.604 0 0 0 1.62 1.58 1.604 1.604 0 0 0 1.587-1.614 1.604 1.604 0 0 0-1.414-1.58V6.9a6.234 6.256 0 0 1 1.58-.222zm22.985 1.644q-1.361 0-2.281.403-.907.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.441.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.143.252q1.374 0 2.28-.403.909-.417 1.362-1.084.466-.68.467-1.487 0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m12.69 0q-1.362 0-2.281.403-.907.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.441.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.144.252q1.374 0 2.28-.403.909-.417 1.362-1.084.465-.68.466-1.487 0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m18.437 0q-1.362 0-2.281.403-.908.403-1.374 1.084a2.6 2.6 0 0 0-.454 1.487q0 .705.265 1.184.264.466.693.756.44.29.958.466a10 10 0 0 0 1.046.29q.516.102.945.202.441.088.705.227.265.138.265.378 0 .15-.113.265-.114.1-.366.163-.24.05-.667.05-.732 0-1.513-.213a6.4 6.4 0 0 1-1.4-.593l-.956 2.168q.668.403 1.7.655a9 9 0 0 0 2.143.252q1.374 0 2.28-.403.909-.417 1.362-1.084.466-.68.466-1.487 0-.693-.264-1.16a2.2 2.2 0 0 0-.706-.755 4 4 0 0 0-.945-.467 8 8 0 0 0-1.046-.277l-.958-.19a3 3 0 0 1-.693-.213q-.264-.138-.265-.365 0-.152.1-.278.115-.126.367-.202a2.5 2.5 0 0 1 .68-.075q.579 0 1.185.164.616.165 1.273.49l.894-2.154a5.6 5.6 0 0 0-1.562-.58 8.3 8.3 0 0 0-1.764-.188m8.279 0q-1.362 0-2.281.403-.908.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.442.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.144.252q1.374 0 2.28-.403.909-.417 1.36-1.084a2.57 2.57 0 0 0 .468-1.487q0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m-34.82.2v8.822h2.975v-8.82Zm15.59 0-3.857 8.822h3.025l.59-1.537h3.356l.59 1.537h3.075l-3.856-8.82zm1.436 2.92.854 2.223H57.06zM17.912 26.7a.32.32 0 0 0-.336.33.32.32 0 0 0 .094.237q.095.09.242.089.151 0 .247-.09a.32.32 0 0 0 .094-.235.32.32 0 0 0-.094-.237.33.33 0 0 0-.247-.094m9.32.157-.483.058v3.334q0 .289.152.452a.57.57 0 0 0 .426.157q.21 0 .383-.094l-.126-.336a.5.5 0 0 1-.178.03q-.095 0-.137-.051a.3.3 0 0 1-.037-.168zm17.554 0q-.41 0-.641.22a.75.75 0 0 0-.226.573v.378h-.493v.373h.493v2.394h.483V28.4h.62l.052-.373h-.672v-.383q0-.205.095-.3.095-.1.315-.1.246 0 .483.106l.152-.352a1.7 1.7 0 0 0-.661-.142zm11.157 0q-.41 0-.64.22a.75.75 0 0 0-.226.573v.378h-.494v.373h.494v2.394h.483V28.4h.62l.052-.373h-.672v-.383q0-.205.095-.3.094-.1.314-.1.247 0 .484.106l.152-.352a1.7 1.7 0 0 0-.662-.142zm-40.21.258q-.332 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.477.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163 1.4 1.4 0 0 1-.504-.09q-.226-.093-.447-.272l-.273.304q.479.467 1.23.467.398 0 .687-.136a1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267.44.44 0 0 1 .184-.384.8.8 0 0 1 .467-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm48.407 0q-.33 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.477.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163q-.279 0-.504-.09a1.8 1.8 0 0 1-.446-.272l-.273.304q.478.467 1.228.467a1.6 1.6 0 0 0 .688-.136 1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267q0-.252.183-.384a.8.8 0 0 1 .468-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm5.844 0q-.33 0-.593.12a1 1 0 0 0-.405.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.478.189.168.094.236.215a.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163 1.4 1.4 0 0 1-.504-.09 1.8 1.8 0 0 1-.446-.272l-.274.304q.479.467 1.23.467.398 0 .687-.136a1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267.44.44 0 0 1 .184-.384.8.8 0 0 1 .467-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm2.799 0q-.332 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.813.405.316.095.478.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.558.163 1.4 1.4 0 0 1-.503-.09q-.226-.093-.447-.272l-.273.304q.478.467 1.229.467a1.6 1.6 0 0 0 .688-.136 1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.2 3.2 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267q0-.252.183-.384a.8.8 0 0 1 .468-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm-40.216.063v3.617h.499v-3.617zm34.183 0-1.161 3.617h.504l.273-.908h1.37l.274.908h.525l-1.155-3.617zm-29.07.168-.482.057v.625h-.483v.373h.483v1.67q0 .382.194.588.2.2.552.2.345 0 .62-.19l-.184-.32a.8.8 0 0 1-.368.11q-.18.001-.257-.094-.074-.1-.074-.315V28.4h.604l.053-.373h-.657zm29.374.247.562 1.89h-1.13zm-46.643.372q-.487 0-.798.468l-.042-.405h-.415v2.767h.483v-1.963q.158-.247.3-.368a.52.52 0 0 1 .352-.12q.388 0 .388.535v1.916h.483v-1.963q.163-.252.305-.368.142-.12.346-.12.39 0 .389.535v1.916h.483V28.81q0-.39-.205-.615a.7.7 0 0 0-.546-.23.83.83 0 0 0-.467.13q-.196.126-.357.368a.7.7 0 0 0-.263-.368.7.7 0 0 0-.436-.13m4.516 0a1.03 1.03 0 0 0-.82.436l-.036-.373h-.415v3.886l.483-.058v-1.313q.263.315.725.315.52 0 .803-.4.285-.398.284-1.05 0-.686-.247-1.065-.246-.378-.777-.378m4.31 0q-.352 0-.613.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.904.377.525 0 .966-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.514-.216q-.2-.215-.232-.672h1.765q.01-.126.01-.246 0-.642-.294-1.003-.294-.363-.845-.363zm6.155 0a.96.96 0 0 0-.483.126q-.215.126-.363.347l-.041-.41h-.415v2.767h.483v-1.963a1.3 1.3 0 0 1 .315-.363.63.63 0 0 1 .388-.126q.215 0 .326.12.11.121.11.416v1.916h.483V28.81q0-.395-.215-.62-.21-.225-.588-.226zm4.542 0q-.353 0-.614.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.903.377.526 0 .967-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.515-.216q-.2-.215-.23-.672h1.764q.01-.126.01-.246 0-.642-.294-1.003-.294-.363-.845-.363m3.114 0a.67.67 0 0 0-.441.158 1.05 1.05 0 0 0-.3.467l-.047-.562h-.415v2.767h.483v-1.58q.09-.399.247-.588a.51.51 0 0 1 .415-.19q.115 0 .24.032l.09-.472a1.1 1.1 0 0 0-.272-.032m3.36 0q-.441 0-.956.19l.12.35a2.4 2.4 0 0 1 .747-.146q.293 0 .436.126.14.126.14.42v.205h-.424q-.583 0-.903.236-.315.236-.315.678 0 .373.236.603t.646.23q.546 0 .824-.413a.55.55 0 0 0 .195.294.74.74 0 0 0 .346.12l.11-.336a.36.36 0 0 1-.173-.12.45.45 0 0 1-.057-.252v-1.266q0-.441-.242-.677-.241-.242-.73-.242m2.972 0a1.13 1.13 0 0 0-.646.184 1.2 1.2 0 0 0-.415.515q-.147.33-.147.772 0 .666.32 1.044.327.378.888.378.468 0 .845-.304l-.22-.315a1.7 1.7 0 0 1-.305.163.9.9 0 0 1-.3.047.62.62 0 0 1-.524-.247q-.184-.252-.184-.777-.001-.525.184-.793a.61.61 0 0 1 .525-.268.8.8 0 0 1 .304.053 1.1 1.1 0 0 1 .29.152l.23-.305a1.2 1.2 0 0 0-.393-.225 1.3 1.3 0 0 0-.452-.074m2.347 0q-.352 0-.614.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.904.377.525 0 .966-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.514-.216q-.2-.215-.231-.672h1.764q.01-.126.01-.246 0-.642-.293-1.003-.295-.363-.846-.363m6.049 0q-.389 0-.667.184a1.13 1.13 0 0 0-.425.51 1.8 1.8 0 0 0-.147.755q0 .668.325 1.056.325.389.909.388a1.2 1.2 0 0 0 .66-.178 1.17 1.17 0 0 0 .427-.51q.147-.33.147-.76-.001-.668-.326-1.056-.32-.39-.903-.39zm3.23 0a.67.67 0 0 0-.442.158 1.05 1.05 0 0 0-.3.467l-.046-.562h-.415v2.767h.483v-1.58q.09-.399.247-.588a.51.51 0 0 1 .414-.19 1 1 0 0 1 .242.032l.09-.472a1.1 1.1 0 0 0-.274-.032zm-43.33.063v2.767h.483v-2.767zm7.13.32q.625 0 .625 1.06 0 1.057-.682 1.057a.7.7 0 0 1-.347-.085.75.75 0 0 1-.263-.251v-1.35q.126-.19.295-.31a.62.62 0 0 1 .372-.12zm4.443 0q.326 0 .488.216.163.215.163.625v.03h-1.298q.052-.87.647-.87zm10.695 0q.326 0 .488.216.164.215.164.625v.03h-1.298q.052-.87.646-.87zm11.794 0q.326 0 .488.216.163.215.163.625v.03h-1.297q.052-.87.646-.87zm6.038.006q.709 0 .709 1.055 0 1.061-.714 1.06c-.714-.001-.714-.351-.714-1.055q0-1.06.719-1.06M46.534 29.43h.362v.635q-.236.431-.65.43-.237 0-.358-.125-.12-.126-.12-.373 0-.567.766-.567'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  content: "";
}

.documentationpage .icon-svg-mask-example {
  position: relative;
  top: 0;
  left: 0;
  width: 220px;
  height: 83px;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='334.351' height='125.617' viewBox='0 0 88.464 33.236' fill='currentColor'%3E%3Cpath d='M1.323 1.323v23.223H87.14V1.323H24.33zm.984.986H24.33v21.25H2.307Zm23.008 0h60.84v21.25h-60.84zm-11.997 3.22a7.379 7.405 0 0 0-7.378 7.406 7.379 7.405 0 0 0 7.378 7.405 7.379 7.405 0 0 0 7.379-7.405 7.379 7.405 0 0 0-7.38-7.405zm0 1.15a6.234 6.256 0 0 1 6.234 6.256 6.234 6.256 0 0 1-4.276 5.939v-4.197a1.604 1.604 0 0 0 1.414-1.592v-.023a1.604 1.604 0 0 0-1.62-1.58 1.604 1.604 0 0 0-1.587 1.614 1.604 1.604 0 0 0 1.414 1.58v4.31a6.234 6.256 0 0 1-1.58.205 6.234 6.256 0 0 1-6.233-6.256 6.234 6.256 0 0 1 4.277-5.937v4.15a1.604 1.604 0 0 0-1.415 1.59v.024a1.604 1.604 0 0 0 1.62 1.58 1.604 1.604 0 0 0 1.587-1.614 1.604 1.604 0 0 0-1.414-1.58V6.9a6.234 6.256 0 0 1 1.58-.222zm22.985 1.644q-1.361 0-2.281.403-.907.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.441.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.143.252q1.374 0 2.28-.403.909-.417 1.362-1.084.466-.68.467-1.487 0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m12.69 0q-1.362 0-2.281.403-.907.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.441.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.144.252q1.374 0 2.28-.403.909-.417 1.362-1.084.465-.68.466-1.487 0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m18.437 0q-1.362 0-2.281.403-.908.403-1.374 1.084a2.6 2.6 0 0 0-.454 1.487q0 .705.265 1.184.264.466.693.756.44.29.958.466a10 10 0 0 0 1.046.29q.516.102.945.202.441.088.705.227.265.138.265.378 0 .15-.113.265-.114.1-.366.163-.24.05-.667.05-.732 0-1.513-.213a6.4 6.4 0 0 1-1.4-.593l-.956 2.168q.668.403 1.7.655a9 9 0 0 0 2.143.252q1.374 0 2.28-.403.909-.417 1.362-1.084.466-.68.466-1.487 0-.693-.264-1.16a2.2 2.2 0 0 0-.706-.755 4 4 0 0 0-.945-.467 8 8 0 0 0-1.046-.277l-.958-.19a3 3 0 0 1-.693-.213q-.264-.138-.265-.365 0-.152.1-.278.115-.126.367-.202a2.5 2.5 0 0 1 .68-.075q.579 0 1.185.164.616.165 1.273.49l.894-2.154a5.6 5.6 0 0 0-1.562-.58 8.3 8.3 0 0 0-1.764-.188m8.279 0q-1.362 0-2.281.403-.908.403-1.374 1.084a2.6 2.6 0 0 0-.453 1.487q0 .705.264 1.184.266.466.693.756.442.29.958.466.53.177 1.046.29.517.102.945.202.441.088.706.227.264.138.265.378 0 .15-.114.265-.113.1-.365.163-.24.05-.668.05a5.7 5.7 0 0 1-1.512-.213 6.4 6.4 0 0 1-1.4-.593l-.957 2.168q.668.403 1.7.655a9 9 0 0 0 2.144.252q1.374 0 2.28-.403.909-.417 1.36-1.084a2.57 2.57 0 0 0 .468-1.487q0-.693-.265-1.16a2.2 2.2 0 0 0-.705-.755 4 4 0 0 0-.946-.467 8 8 0 0 0-1.046-.277l-.957-.19a3 3 0 0 1-.693-.213q-.265-.138-.265-.365 0-.152.1-.278.114-.126.366-.202a2.5 2.5 0 0 1 .68-.075q.58 0 1.185.164.618.165 1.273.49l.895-2.154a5.6 5.6 0 0 0-1.563-.58 8.3 8.3 0 0 0-1.764-.188m-34.82.2v8.822h2.975v-8.82Zm15.59 0-3.857 8.822h3.025l.59-1.537h3.356l.59 1.537h3.075l-3.856-8.82zm1.436 2.92.854 2.223H57.06zM17.912 26.7a.32.32 0 0 0-.336.33.32.32 0 0 0 .094.237q.095.09.242.089.151 0 .247-.09a.32.32 0 0 0 .094-.235.32.32 0 0 0-.094-.237.33.33 0 0 0-.247-.094m9.32.157-.483.058v3.334q0 .289.152.452a.57.57 0 0 0 .426.157q.21 0 .383-.094l-.126-.336a.5.5 0 0 1-.178.03q-.095 0-.137-.051a.3.3 0 0 1-.037-.168zm17.554 0q-.41 0-.641.22a.75.75 0 0 0-.226.573v.378h-.493v.373h.493v2.394h.483V28.4h.62l.052-.373h-.672v-.383q0-.205.095-.3.095-.1.315-.1.246 0 .483.106l.152-.352a1.7 1.7 0 0 0-.661-.142zm11.157 0q-.41 0-.64.22a.75.75 0 0 0-.226.573v.378h-.494v.373h.494v2.394h.483V28.4h.62l.052-.373h-.672v-.383q0-.205.095-.3.094-.1.314-.1.247 0 .484.106l.152-.352a1.7 1.7 0 0 0-.662-.142zm-40.21.258q-.332 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.477.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163 1.4 1.4 0 0 1-.504-.09q-.226-.093-.447-.272l-.273.304q.479.467 1.23.467.398 0 .687-.136a1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267.44.44 0 0 1 .184-.384.8.8 0 0 1 .467-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm48.407 0q-.33 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.477.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163q-.279 0-.504-.09a1.8 1.8 0 0 1-.446-.272l-.273.304q.478.467 1.228.467a1.6 1.6 0 0 0 .688-.136 1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267q0-.252.183-.384a.8.8 0 0 1 .468-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm5.844 0q-.33 0-.593.12a1 1 0 0 0-.405.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.814.405.315.095.478.189.168.094.236.215a.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.557.163 1.4 1.4 0 0 1-.504-.09 1.8 1.8 0 0 1-.446-.272l-.274.304q.479.467 1.23.467.398 0 .687-.136a1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.3 3.3 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267.44.44 0 0 1 .184-.384.8.8 0 0 1 .467-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm2.799 0q-.332 0-.594.12a1 1 0 0 0-.404.336.87.87 0 0 0-.142.489q0 .405.258.64.256.237.813.405.316.095.478.189a.6.6 0 0 1 .237.215.6.6 0 0 1 .068.294q0 .314-.22.483a.9.9 0 0 1-.558.163 1.4 1.4 0 0 1-.503-.09q-.226-.093-.447-.272l-.273.304q.478.467 1.229.467a1.6 1.6 0 0 0 .688-.136 1 1 0 0 0 .604-.935.94.94 0 0 0-.504-.871 3.2 3.2 0 0 0-.567-.226 3 3 0 0 1-.5-.19.6.6 0 0 1-.23-.194.53.53 0 0 1-.063-.267q0-.252.183-.384a.8.8 0 0 1 .468-.13q.225 0 .42.078.2.074.404.236l.273-.304a1.7 1.7 0 0 0-.5-.315 1.6 1.6 0 0 0-.62-.105zm-40.216.063v3.617h.499v-3.617zm34.183 0-1.161 3.617h.504l.273-.908h1.37l.274.908h.525l-1.155-3.617zm-29.07.168-.482.057v.625h-.483v.373h.483v1.67q0 .382.194.588.2.2.552.2.345 0 .62-.19l-.184-.32a.8.8 0 0 1-.368.11q-.18.001-.257-.094-.074-.1-.074-.315V28.4h.604l.053-.373h-.657zm29.374.247.562 1.89h-1.13zm-46.643.372q-.487 0-.798.468l-.042-.405h-.415v2.767h.483v-1.963q.158-.247.3-.368a.52.52 0 0 1 .352-.12q.388 0 .388.535v1.916h.483v-1.963q.163-.252.305-.368.142-.12.346-.12.39 0 .389.535v1.916h.483V28.81q0-.39-.205-.615a.7.7 0 0 0-.546-.23.83.83 0 0 0-.467.13q-.196.126-.357.368a.7.7 0 0 0-.263-.368.7.7 0 0 0-.436-.13m4.516 0a1.03 1.03 0 0 0-.82.436l-.036-.373h-.415v3.886l.483-.058v-1.313q.263.315.725.315.52 0 .803-.4.285-.398.284-1.05 0-.686-.247-1.065-.246-.378-.777-.378m4.31 0q-.352 0-.613.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.904.377.525 0 .966-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.514-.216q-.2-.215-.232-.672h1.765q.01-.126.01-.246 0-.642-.294-1.003-.294-.363-.845-.363zm6.155 0a.96.96 0 0 0-.483.126q-.215.126-.363.347l-.041-.41h-.415v2.767h.483v-1.963a1.3 1.3 0 0 1 .315-.363.63.63 0 0 1 .388-.126q.215 0 .326.12.11.121.11.416v1.916h.483V28.81q0-.395-.215-.62-.21-.225-.588-.226zm4.542 0q-.353 0-.614.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.903.377.526 0 .967-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.515-.216q-.2-.215-.23-.672h1.764q.01-.126.01-.246 0-.642-.294-1.003-.294-.363-.845-.363m3.114 0a.67.67 0 0 0-.441.158 1.05 1.05 0 0 0-.3.467l-.047-.562h-.415v2.767h.483v-1.58q.09-.399.247-.588a.51.51 0 0 1 .415-.19q.115 0 .24.032l.09-.472a1.1 1.1 0 0 0-.272-.032m3.36 0q-.441 0-.956.19l.12.35a2.4 2.4 0 0 1 .747-.146q.293 0 .436.126.14.126.14.42v.205h-.424q-.583 0-.903.236-.315.236-.315.678 0 .373.236.603t.646.23q.546 0 .824-.413a.55.55 0 0 0 .195.294.74.74 0 0 0 .346.12l.11-.336a.36.36 0 0 1-.173-.12.45.45 0 0 1-.057-.252v-1.266q0-.441-.242-.677-.241-.242-.73-.242m2.972 0a1.13 1.13 0 0 0-.646.184 1.2 1.2 0 0 0-.415.515q-.147.33-.147.772 0 .666.32 1.044.327.378.888.378.468 0 .845-.304l-.22-.315a1.7 1.7 0 0 1-.305.163.9.9 0 0 1-.3.047.62.62 0 0 1-.524-.247q-.184-.252-.184-.777-.001-.525.184-.793a.61.61 0 0 1 .525-.268.8.8 0 0 1 .304.053 1.1 1.1 0 0 1 .29.152l.23-.305a1.2 1.2 0 0 0-.393-.225 1.3 1.3 0 0 0-.452-.074m2.347 0q-.352 0-.614.19a1.2 1.2 0 0 0-.4.524q-.136.33-.136.762 0 .66.32 1.04.326.376.904.377.525 0 .966-.346l-.21-.29q-.184.127-.352.185a1.1 1.1 0 0 1-.368.058.67.67 0 0 1-.514-.216q-.2-.215-.231-.672h1.764q.01-.126.01-.246 0-.642-.293-1.003-.295-.363-.846-.363m6.049 0q-.389 0-.667.184a1.13 1.13 0 0 0-.425.51 1.8 1.8 0 0 0-.147.755q0 .668.325 1.056.325.389.909.388a1.2 1.2 0 0 0 .66-.178 1.17 1.17 0 0 0 .427-.51q.147-.33.147-.76-.001-.668-.326-1.056-.32-.39-.903-.39zm3.23 0a.67.67 0 0 0-.442.158 1.05 1.05 0 0 0-.3.467l-.046-.562h-.415v2.767h.483v-1.58q.09-.399.247-.588a.51.51 0 0 1 .414-.19 1 1 0 0 1 .242.032l.09-.472a1.1 1.1 0 0 0-.274-.032zm-43.33.063v2.767h.483v-2.767zm7.13.32q.625 0 .625 1.06 0 1.057-.682 1.057a.7.7 0 0 1-.347-.085.75.75 0 0 1-.263-.251v-1.35q.126-.19.295-.31a.62.62 0 0 1 .372-.12zm4.443 0q.326 0 .488.216.163.215.163.625v.03h-1.298q.052-.87.647-.87zm10.695 0q.326 0 .488.216.164.215.164.625v.03h-1.298q.052-.87.646-.87zm11.794 0q.326 0 .488.216.163.215.163.625v.03h-1.297q.052-.87.646-.87zm6.038.006q.709 0 .709 1.055 0 1.061-.714 1.06c-.714-.001-.714-.351-.714-1.055q0-1.06.719-1.06M46.534 29.43h.362v.635q-.236.431-.65.43-.237 0-.358-.125-.12-.126-.12-.373 0-.567.766-.567'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-size: contain;
  display: block;
  background-color: #A01303;
}

.documentationpage .img_replace_example {
  background-image: url("../img/test/1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -10000000px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 64px;
  height: 64px;
  display: block;
}
.documentationpage .img_replace_parameters {
  border: 2px dashed #FBB03B;
  background-image: url("../img/test/2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -10000000px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 250px;
  height: 150px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.documentationpage .no_border_example {
  border: 2px solid #A01303;
  border: 0 none transparent;
  border-top: 0 none transparent;
  border-bottom: 0 none transparent;
  border-left: 0 none transparent;
  border-right: 0 none transparent;
}

.documentationpage .no_spacing_example {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #3A405A;
  color: #FFF;
}

.documentationpage .normalize_svg_example {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -10000000px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 64px;
  height: 64px;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #F5F3F3;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.documentationpage .keyframes_example {
  width: 60px;
  height: 60px;
  background-color: #A01303;
  animation: fade 1s infinite alternate;
}

.documentationpage .placeholder_example::-ms-input-placeholder {
  color: #A01303;
}
.documentationpage .placeholder_example:-moz-placeholder {
  color: #A01303;
}
.documentationpage .placeholder_example::-moz-placeholder {
  color: #A01303;
}
.documentationpage .placeholder_example::-webkit-input-placeholder {
  color: #A01303;
}
.documentationpage .placeholder_example::placeholder {
  color: #A01303;
}

.documentationpage [class*=position_container] {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  border: 2px dashed #3A405A;
  margin-block-end: 20px;
}
.documentationpage [class*=position_container] .position_example {
  position: absolute;
  top: -47px;
  left: 100px;
}
.documentationpage [class*=position_container] .position_example_explicit {
  position: absolute;
  right: 100px;
  bottom: -10px;
}

.documentationpage .replace_base_example {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-indent: -10000000px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 140px;
  height: 140px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #A01303;
  color: transparent;
}

.documentationpage .result {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  grid-gap: 20px;
  gap: 20px;
  flex-wrap: wrap;
}
.documentationpage .result .group {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  flex-direction: column;
}
.documentationpage .result .cat {
  width: 1920px;
  height: auto;
  aspect-ratio: 1.7777777778;
}
.documentationpage [class^=scroll_] {
  width: 250px;
  height: 150px;
}
.documentationpage .scroll_y {
  position: relative;
  top: 0;
  left: 0;
  overflow: overlay;
  overflow-x: hidden;
}
@supports (-moz-appearance: none) {
  .documentationpage .scroll_y {
    scrollbar-color: #A01303 transparent;
    scrollbar-width: auto;
  }
}
.documentationpage .scroll_y::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18;
  height: 15px;
  background-color: transparent;
}
.documentationpage .scroll_y::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #F5F3F3;
  background-color: #A01303;
  box-shadow: none;
}
.documentationpage .scroll_y::-webkit-scrollbar-thumb:hover {
  background-color: #A01303;
}
.documentationpage .scroll_y::-webkit-scrollbar-thumb:active {
  background-color: #A01303;
}
.documentationpage .scroll_y::-webkit-scrollbar-track {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 0 solid transparent;
  background-color: transparent;
  box-shadow: none;
}
.documentationpage .scroll_y::-webkit-scrollbar-track:hover {
  background-color: transparent;
}
.documentationpage .scroll_y::-webkit-scrollbar-track:active {
  background-color: transparent;
}
.documentationpage .scroll_x {
  position: relative;
  top: 0;
  left: 0;
  overflow: overlay;
  overflow-y: hidden;
}
@supports (-moz-appearance: none) {
  .documentationpage .scroll_x {
    scrollbar-color: #A01303 #FFF;
    scrollbar-width: auto;
  }
}
.documentationpage .scroll_x::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 8px;
  background-color: #FFF;
}
.documentationpage .scroll_x::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #FFF;
  background-color: #A01303;
  box-shadow: inset 0 0 0 1px rgba(245, 243, 243, 0.4);
}
.documentationpage .scroll_x::-webkit-scrollbar-thumb:hover {
  background-color: #FBB03B;
}
.documentationpage .scroll_x::-webkit-scrollbar-thumb:active {
  background-color: #2D396C;
}
.documentationpage .scroll_x::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 3px solid #2D396C;
  background-color: #FFF;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
.documentationpage .scroll_x::-webkit-scrollbar-track:hover {
  background-color: #F5F3F3;
}
.documentationpage .scroll_x::-webkit-scrollbar-track:active {
  background-color: #2D396C;
}
.documentationpage .scroll_both {
  position: relative;
  top: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: auto;
}
@supports (-moz-appearance: none) {
  .documentationpage .scroll_both {
    scrollbar-color: #2D396C #FFF;
    scrollbar-width: thin;
  }
}
.documentationpage .scroll_both::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: #FFF;
}
.documentationpage .scroll_both::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 0 solid transparent;
  background-color: #2D396C;
  box-shadow: none;
}
.documentationpage .scroll_both::-webkit-scrollbar-thumb:hover {
  background-color: #A01303;
}
.documentationpage .scroll_both::-webkit-scrollbar-thumb:active {
  background-color: #FBB03B;
}
.documentationpage .scroll_both::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 0 solid transparent;
  background-color: #FFF;
  box-shadow: none;
}
.documentationpage .scroll_both::-webkit-scrollbar-track:hover {
  background-color: #FFF;
}
.documentationpage .scroll_both::-webkit-scrollbar-track:active {
  background-color: #FFF;
}
.documentationpage .scroll_hidden {
  position: relative;
  top: 0;
  left: 0;
  overflow: overlay;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
@supports (-moz-appearance: none) {
  .documentationpage .scroll_hidden {
    scrollbar-width: none;
  }
}
.documentationpage .scroll_hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.documentationpage .result .wh_example {
  width: 140px;
  height: 60px;
}

.documentationpage .result .whs_example {
  width: 20px;
  height: 20px;
}

.documentationpage .text_example_params {
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
  text-wrap: initial;
}
.documentationpage .text_example_map {
  text-align: right;
  text-decoration: line-through;
  text-transform: lowercase;
  text-wrap: initial;
}
.documentationpage .text_example_wrap {
  text-align: left;
  text-decoration: initial;
  text-transform: initial;
  text-wrap: pretty;
  width: 200px;
  height: auto;
}

.documentationpage .tf_example_map {
  text-align: right;
  text-decoration: underline;
  text-transform: lowercase;
  text-wrap: initial;
  font-size: 1.25rem;
  font-family: "Montserrat", "sans-serif";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  line-height: 1.2;
}

.documentationpage .fn_szrem {
  font-size: 1.25rem;
}

.documentationpage .fn_str_replace:before {
  content: "hola-mundo";
}

.documentationpage .fn_mapv .box {
  background-color: black;
  color: white;
  padding: 16px;
  margin-bottom: 12px;
}
.documentationpage .fn_mapv .box_default_bg {
  background-color: orange;
  color: maroon;
  padding: 16px;
  margin-bottom: 12px;
}

.documentationpage .fn_bp {
  width: 20vw;
  height: 20px;
  background-color: #A01303;
}

.documentationpage .fn_strip_unit {
  --size: 24;
}

.documentationpage .fn-list-add-unique {
  --list: a b c;
}

.documentationpage .fn-list-add-items {
  --list: a b c d;
}

.documentationpage .fn-append-points {
  --list: 1, 2, 3, 4;
}