.circle_border_radius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.box_shadow_example {
  -webkit-box-shadow: 7px 7px 7px #FBB03B;
  -moz-box-shadow: 7px 7px 7px #FBB03B;
  box-shadow: 7px 7px 7px #FBB03B;
}

.rotate_example {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.scale_rotate_example {
  -webkit-transform: rotate(45deg) scale(0.5);
  -moz-transform: rotate(45deg) scale(0.5);
  -ms-transform: rotate(45deg) scale(0.5);
  -o-transform: rotate(45deg) scale(0.5);
  transform: rotate(45deg) scale(0.5);
}

.transform_style_preserve_3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(390px) rotateY(30deg);
  -moz-transform: perspective(390px) rotateY(30deg);
  -ms-transform: perspective(390px) rotateY(30deg);
  -o-transform: perspective(390px) rotateY(30deg);
  transform: perspective(390px) rotateY(30deg);
  width: 250px;
  height: 100px;
  background-color: #FBB03B;
}
.transform_style_preserve_3d.center_element,
.transform_style_preserve_3d .center_element {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  place-content: center;
  place-items: center;
}
.transform_style_preserve_3d .text {
  display: block;
  margin: 0;
  color: #000;
}
.transform_style_preserve_3d .children {
  -webkit-transform: rotate3d(1, 1, 0, 15deg);
  -moz-transform: rotate3d(1, 1, 0, 15deg);
  -ms-transform: rotate3d(1, 1, 0, 15deg);
  -o-transform: rotate3d(1, 1, 0, 15deg);
  transform: rotate3d(1, 1, 0, 15deg);
  width: 80%;
  height: auto;
  padding: 15px 10px;
  background-color: #A01303;
}
.transform_style_preserve_3d .children .text {
  color: #FFF;
}

.transform_style_flat {
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  transform-style: flat;
  -webkit-transform: perspective(390px) rotateY(30deg);
  -moz-transform: perspective(390px) rotateY(30deg);
  -ms-transform: perspective(390px) rotateY(30deg);
  -o-transform: perspective(390px) rotateY(30deg);
  transform: perspective(390px) rotateY(30deg);
  width: 250px;
  height: 100px;
  background-color: #FBB03B;
}
.transform_style_flat.center_element,
.transform_style_flat .center_element {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  place-content: center;
  place-items: center;
}
.transform_style_flat .text {
  display: block;
  margin: 0;
  color: #000;
}
.transform_style_flat .children {
  -webkit-transform: rotate3d(1, 1, 0, 15deg);
  -moz-transform: rotate3d(1, 1, 0, 15deg);
  -ms-transform: rotate3d(1, 1, 0, 15deg);
  -o-transform: rotate3d(1, 1, 0, 15deg);
  transform: rotate3d(1, 1, 0, 15deg);
  width: 80%;
  height: auto;
  padding: 15px 10px;
  background-color: #A01303;
}
.transform_style_flat .children .text {
  color: #FFF;
}