//------------------------------------------------
//font-face
//------------------------------------------------
// Font
/* Example
@include font-face(
    (
        name: "name_font",
        path: "path_font",
        weight: weight_font (normal, bold, 100, 200, 300, 400, 500, 600, 700, 800, 900),
        style: style_font (normal, italic, oblique),
        exts: (woff2, woff, ttf)
    )
);
*/


//------------------------------------------------
//End font-face
//------------------------------------------------
