.example_brpwh {
  background-color: #edf0d8;
  color: #3c4215;
  padding: 20px;
  border: 2px solid #3c4215;
}
@media only screen and (max-width: 900px) and (max-height: 700px) {
  .example_brpwh {
    background-color: #f0d8e8;
    color: #421532;
  }
}