//------------------------------------------------
//font-face
//------------------------------------------------
@use "../core/instances" as *;

// Monserrat
@include font-face(
    (
        name: "Montserrat",
        path: "../fonts/montserrat/montserrat_black",
        weight: 900
    )
);

// Fira Sans
@include font-face(
    (
        name: "Fira Sans",
        path: "../fonts/fira_sans/firasans_regular"
    )
);

@include font-face(
    (
        name: "Fira Sans",
        path: "../fonts/fira_sans/firasans_bold",
        weight: bold
    )
);

//Nunito Sans
@include font-face(
    (
        name: "Nunito Sans",
        path: "../fonts/nunito_sans/nunito_sans"
    )
);

@include font-face(
    (
        name: "Nunito Sans",
        path: "../fonts/nunito_sans/nunito_sans_bold",
        weight: bold
    )
);

//------------------------------------------------
//End font-face
//------------------------------------------------
