@use "../core/instances" as *;

.layout_header {
    @include wh(min(95vw, 1920px));
    @include grid;

    grid: {
        template: {
            areas: "l0 s0 t0";
            columns: max-content auto max-content;
        }
    }

    .b1 { grid-area: l0; }
    .b2 { grid-area: s0; }
    .b3 { grid-area: t0; }
}

.layout_1 {
    @include grid;

    grid: {
        template: {
            rows: 95px auto;
            columns: 230px auto;
            areas:
                "h1 h1"
                "m1 c1"
            ;
        }
    }

    @include brp($b6) {
        display: block;
    }

    .a1 { grid-area: h1; }
    .a2 { grid-area: m1; }
    .a3 { grid-area: c1; }
}
