//-----------------------------------
//Mixin
//-----------------------------------
@use "../../../../src/scss/sisass" as *;
@use "./variables" as *;

@mixin t1($attr: ()) {
    $f: mapv($attr, f, $f1);
    $s: mapv($attr, s, szrem(16));
    $a: mapv($attr, a, justify);
    $lh: mapv($attr, lh, 1.3);
    $bg: mapv($attr, bg, $c0);
    $c: mapv($attr, c, $c3);

    @include bc($bg, $c);
    @include tf(( f: $f, s: $s, a: $a, lh: $lh ));

    b {
        @include bc($bg, $c);
        @include tf(( f: $f, s: $s, a: $a, w: bold ));
    }
}

//-----------------------------------
//End Mixin
//-----------------------------------
