//-----------------------------------
//Mixin
//-----------------------------------
@use "../../../../src/scss/sisass" as *;
@use "./variables" as *;

@mixin text_1 {
    @include bc($c0, $c3);
    @include tf((
        f: $f1,
        s: szrem(16),
        a: justify
    ));

    b {
        @include bc($c0, $c3);
        @include tf((
            f: $f1,
            s: szrem(16),
            a: justify,
            w: bold
        ));
    }
}

//-----------------------------------
//End Mixin
//-----------------------------------
