//-----------------------------------
// Variables
//-----------------------------------
// Colors
$c0: transparent;
$c1: #FFF;
$c2: #000;

// Base colors
$c3: #3A405A;
$c4: #FBB03B;
$c5: #A01303;
$c6: #2D396C;
$c7: #FEFEFE;
$c8: #DDDDDD;
$c16: #6F00FA;
$c18: #12CFC8;
$c19: #FE00BE;

// Theme colors
$c9: #10151F;
$c10: #151A25;
$c11: #1C2230;
$c12: #E8EEF8;
$c13: #C9D2E2;
$c14: #FFD36B;
$c15: #F88C7E;
$c17: #885AC2;

// Border
$bd1: 2px dashed $c3;
$bd2: 1px solid $c3;
$bd3: 6px solid $c3;
$bd4: 1px solid $c1;
$bd5: 1px solid $c6;
$bd6: 3px solid $c5;
$bd7: 1px dashed $c3;
$bd8: 10px solid $c6;
$bd9: 1px solid var(--theme_border);
$bd10: 2px solid var(--theme_border_btn);

// shadow
$sh1: 0 4px 5px rgba($c2, 0.08);
$sh2: 0 2px 7px -1px var(--theme_text);

// gradient
$gr1: linear-gradient(90deg, $c5 0%, $c6 100%);

// Font
// Nunito Sans regular | bold
$f1: "Nunito Sans", "sans-serif";
// Fira Sans regular | bold
$f2: "Fira Sans", "sans-serif";
// Montserrat 900
$f3: "Montserrat", "sans-serif";
// Roboto bold
$f4: "Roboto", "sans-serif";

// Path
$i1: "../../img/svg/";

// Breakpoints
$b1: 1920; // Tamaño diseño desktop
$b2: 1440;
$b3: 1366;
$b4: 1280;
$b5: 1024;
$b6: 980; // BRP para cambio a movil tablet
$b7: 768;
$b8: 640;
$b9: 480; //Tamaño de diseño movil
$b10: 320;

// Time Animation
$t1: 100ms;
$t2: 200ms;
$t3: 300ms;
$t4: 400ms;
$t5: 500ms;
$t6: 600ms;
$t7: 700ms;
$t8: 800ms;
$t9: 900ms;
$t10: 1s;

// Variables
$charecteristics_name: (organized, reusable, consistent, productive);
$characteristics_svg: (cube, code, palette, rocket);
$characteristics_color: ($c16, $c18, $c15, $c19);

// logo sisass
$l1x: (clamp(130px, 10.44vw, 200px));
$l1y: (clamp(29px, 2.30vw, 44px));

// icon search
$l2: (26px);

// icon light / dark
$l3: (24px);

// icon arrow_2
$l4x: (15px);
$l4y: (10px);

// icon star
$l5: (18px);

// icons characteristic
$l6: (40px);

// icon arrow
$l7: (12px);

//-----------------------------------
//End Variables
//-----------------------------------
