//-----------------------------------
// Variables
//-----------------------------------
// Colors
$c0: transparent !default;
$c1: #FFF !default;
$c2: #000 !default;

// Font
$f1: "sans-serif" !default;

// Path
$i1: "../img/svg/" !default;

// Breakpoints
$b1: 1920 !default; // The design size for desktop
$b2: 1440 !default;
$b3: 1366 !default;
$b4: 1280 !default;
$b5: 1024 !default;
$b6: 980 !default; // BRP for mobile and tablet switch
$b7: 768 !default;
$b8: 640 !default;
$b9: 480 !default; // The size of the mobile design
$b10: 320 !default;

// Time Animation
$t1: 100ms !default;
$t2: 200ms !default;
$t3: 300ms !default;
$t4: 400ms !default;
$t5: 500ms !default;
$t6: 600ms !default;
$t7: 700ms !default;
$t8: 800ms !default;
$t9: 900ms !default;
$t10: 1s !default;
$t11: 2s !default;

//-----------------------------------
//End Variables
//-----------------------------------
